{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block mensajes %}Desposte de Canales{% endblock mensajes %}
{% block contenido %}
    <a id="cargar" class=" btn btn-primary" href="#">Crear una nueva planilla</a>
    <table id="lista" class="table-striped">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Reses</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock contenido %}
