{% extends 'base.html' %}

{% block titulo %}Tajado{% endblock titulo %}
{% block mensajes %}
    {% if exito %}
        Tajado
    {% else %}
        No hay esa cantidad en existencia.
    {% endif %}

{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table id="tablaenTajados" class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Responsable</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Peso Producto</th>
            <th>Total Tajado</th>
            <th>Costo Kilo</th>
            <th>Estado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for tajado in tajados %}
        {% if tajado.guardado == False %}
        <tr style="color: red">
        {% endif %}

            <td>{{ tajado.codigoTajado }}</td>
            <td>{{ tajado.responsable }}</td>
            <td>{{ tajado.fechaTajado }}</td>
            <td>{{ tajado.producto }}</td>
            <td>{{ tajado.producto.grupo.nombreGrupo }}</td>
            <td>{{ tajado.pesoProducto }}</td>
            <td>{{ tajado.totalTajado }}</td>
            <td>{{ tajado.costoKiloFilete }}</td>
            {% if tajado.guardado == True %}
                <td>Guardado</td>
            {% else %}
                <td>Sin guardar</td>
            {% endif %}
            
            <td><a href="{% url 'Fabricacion.views.GestionDetalleTajado' tajado.codigoTajado %}">Detalle</a></td>


        </tr>

            {% empty %}
            <tr>
                <td colspan="10">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Nuevo Tajado<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
