{% extends 'base.html' %}

{% block titulo %}Descarne Cabezas{% endblock titulo %}
{% block mensajes %}
    Listado Descarnes
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>

    <table id="descarnes" class="table-striped">

        <thead>

        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Cant Cab</th>
            <th>Cant Rctes</th>
            <th>Recortes</th>
            <th>Lengua</th>
            <th>Careta</th>
            <th>Proceso</th>
            <th>Cif</th>
            <th>Mod</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for descarne in descarnes %}
        <tr>
            <td id="idDescarne">{{ descarne.id }}</td>
            <td>{{ descarne.fecha }}</td>
            <td>{{ descarne.tipo }}</td>
            <td>{{ descarne.cantidad }}</td>
            <td>{{ descarne.cantRecosrtes }}</td>
            <td>${{ descarne.vrKiloRecorte }}</td>
            <td>${{ descarne.vrKiloLengua }}</td>
            <td>${{ descarne.vrKiloCareta }}</td>
            <td>${{ descarne.vrKiloProceso}}</td>
            <td>${{ descarne.cif }}</td>
            <td>${{ descarne.mod }}</td>
            <td><a id="guardarDescarne" onclick="GuardaDescarne({{ descarne.id }})" href="#">Guardar cant</a></td>
        </tr>
            {% empty %}
            <tr>
                <td colspan="13">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

    </table>
    <form class="form-horizontal" method="post">{% csrf_token %}
         <fieldset id="desposte">
             <legend>Planilla Desposte <a id="cerrar" href="#"><img src=    "{{ STATIC_URL }}img/cerrar.png"/></a></legend>
                  {{ formulario }}
             <input type="submit" value="Guardar" class="btn btn-primary">

         </fieldset>
     </form>

{% endblock contenido %}