{% extends 'base.html' %}

{% block titulo %}::Apanados::{% endblock titulo %}
{% block mensajes %}
    Listado de Apanados
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>

    <table id="tablabodegas" class="table-striped" >

        <thead>
        <tr>

            <th>Fecha</th>
            <th>Producto</th>
            <th>Peso Filete</th>
            <th>huevos</th>
            <th>Miga</th>
            <th>Total Apanado</th>
            <th>Costo Kilo Apanado</th>
            <th>Mod</th>
            <th>Cif</th>
            <th>Guardado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for apanado in apanados %}
        {% if apanado.guardado == True %}
            <tr>
        {% else %}
            <tr style="color: red">
        {% endif %}
            <td>{{ apanado.fechaApanado }}</td>
            <td>{{ apanado.productoApanado.nombreProducto }}</td>
            <td>{{ apanado.pesoFilete|floatformat }}grs</td>
            <td>{{ apanado.huevos }}</td>
            <td>{{ apanado.miga |floatformat }}grs</td>
            <td>{{ apanado.totalApanado |floatformat }}grs</td>
            <td>${{ apanado.costoKiloApanado }}</td>
            <td>${{ apanado.mod }}</td>
            <td>${{ apanado.cif }}</td>
            {% if apanado.guardado == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}

            <td>
                <a onclick="CostearApanado({{ apanado.id }})" href="#">Costear</a>
                <a onclick="GuardarApanado({{ apanado.id }})" href="#">Guardar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Apanado <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <br/>
          <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}
