{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block mensajes %}Listado de Canales{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
     <table class="table-striped">
        <thead>
        <tr>
            <th>Recepcion</th>
            <th>Compra</th>
            <th>Encargado</th>
            <th>Tipo Ganado</th>
            <th>Fecha Recepcion</th>
            <th># Cabezas</th>
            <th>Proveedor</th>
            <th>Transporte/th>
            <th>Peso Canales</th>
            <th>Dif. Pie/Canal</th>


        </tr>
        </thead>
        <tbody>

            <tr>
            <td>{{ recepcion.codigoRecepcion}}</td>
                <td>{{ recepcion.compra.codigoCompra}}</td>
                <td>{{ recepcion.empleado}}</td>
                <td>{{ recepcion.tipoGanado}}</td>
                <td>{{ recepcion.fechaRecepcion}}</td>
                <td>{{ recepcion.cantCabezas}}</td>
                <td>{{ recepcion.provedor}}</td>
                <td>{{ recepcion.transporte}}</td>
                <td>{{ recepcion.pesoCanales | floatformat}}</td>
                <td>{{ recepcion.difPieCanal | floatformat}}%</td>


        </tr>
        </tbody>

     </table>

     <table  class="table-striped">
        <thead>

        <tr>

            <th>Planilla</th>
            <th>Peso Frigovito</th>
            <th>Peso Porkilandia</th>
            <th>Dif. de pesos</th>
            <th>Vr. Kilo Canal</th>
            <th>Vr. Arroba Canal</th>
            <th>Genero</th>
            <th>Estado</th>



        </tr>
        </thead>
        <tbody>
          {% for cnl in canales %}
              {% if cnl.estado == 1 %}<tr style="color: darkgreen; font-weight: bold">{% else %}<tr style="color: red">{% endif %}
            <td>{{ cnl.planilla }}</td>
            <td>{{ cnl.pesoFrigovito | floatformat }} Kg</td>
            <td style="font-weight: bold"><a href="{% url 'Fabricacion.views.MarcarCanalDesposte' cnl.codigoCanal %}">{{ cnl.pesoPorkilandia | floatformat }} Kg</a></td>
            <td>{{ cnl.difPesos | floatformat }} Kg</td>
            <td>$ {{ cnl.vrKiloCanal }}</td>
            <td>$ {{ cnl.vrArrobaCanal }}</td>
            <td>{{ cnl.genero }}</td>
            {% if cnl.estado == True %}
                <td>A desposte</td>
            {% else %}
                <td>Pendiente</td>
            {% endif %}
            

        </tr>

        {% empty %}
            <tr>
                <td colspan="8">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

        </tbody>
        <tr>

            <th colspan="8"  style="text-align: center"><a href="/desposte/"><img src="{{ STATIC_URL }}img/atras.png"></a></th>

        </tr>

      </table>

    <form class="form-horizontal" method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Canal <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/><br/>
             <legend>Acciones </legend>
             <input type="submit" class="btn btn-primary" value="Guardar">
             <a href="/fabricacion/desposte/"><input type="button" class="btn btn-default" value="Crear Planilla Desposte"/></a>
         </fieldset>
     </form>

{% endblock contenido %}
