{% extends 'base.html' %}
{% block titulo %}Miga Preparada{% endblock titulo %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<a href="{% url 'Fabricacion.views.CostoMiga' idmiga %}"><input type="button" value="Costear" class="btn btn-success"/></a>
<a onclick="GuardarMiga({{ miga.codigoMiga }})" href="#"><input type="button" value="Guardar" class="btn btn-danger"/></a>
    <br/><br/><br/>
     <table class="table-striped">
        <thead>
            <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Formulas</th>
            <th>Peso Formula Miga</th>
            <th>Costo Kilo Miga Proc.</th>
            <th>Costo Formula Miga</th>
                <th>Cif</th>
                <th>Mod</th>
            <th>Guardado</th>

        </tr>
        </thead>
         <tbody>
            <tr>
                <td>{{ miga.codigoMiga }}</td>
                <td>{{ miga.fechaFabricacion }}</td>
                <td id="cantFormulas">{{ miga.cantidadFormulas|floatformat }}</td>
                <td>{{ miga.PesoFormulaMiga|floatformat }} grs</td>
                <td>${{ miga.costoKiloMigaProcesada }}</td>
                <td>${{ miga.costoFormulaMiga }}</td>
                <td>${{ miga.cif }}</td>
                <td>${{ miga.mod }}</td>
                {% if miga.guardado == True %}
                    <td>Si</td>
                {% else %}
                    <td>No</td>
                {% endif %}

            </tr>
         </tbody>

     </table>

     <table class="table-striped">
        <thead>
        <tr>

            <th>Producto</th>
            <th>Peso Producto</th>
            <th>Costo Producto</th>
            <th>Costo Total</th>

        </tr>
        </thead>
        <tbody>
            {% for detalleMiga  in detallesMiga %}
                <tr>
                    <td>{{ detalleMiga.productoMiga }}</td>
                    <td>{{ detalleMiga.PesoProducto|floatformat }} grs</td>
                    <td>${{ detalleMiga.costoProducto }}</td>
                    <td>${{ detalleMiga.costoTotalProducto }}</td>

                </tr>
            {% empty %}
            <tr>
                <td colspan="4" >
                   Ningun registro para mostrar
                </td>
            </tr>
            {% endfor %}

        </tbody>

      </table>

    <form method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Detalle Miga <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
                  {{ formulario }}
              <br/>
             <br/>
                <legend>Acciones</legend>
                <input type="submit" value="Guardar" class="btn btn-primary">
         </fieldset>
     </form>

{% endblock contenido %}
