{% extends 'base.html' %}

{% block titulo %}Carne Condimentada{% endblock titulo %}
{% block mensajes %}
Carne Condimentada
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table id="tablaCCond" class="table-striped" >

        <thead>
        <tr>
            <th>id</th>
            <th>Fecha</th>
            <th>Punto</th>
            <th>Producto</th>
            <th>Peso</th>
            <th>Condimento</th>
            <th>Peso Total</th>
            <th>Costo Kilo</th>
            <th>Guardado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for carne in carnes %}
        {% if carne.guardado == False %}
        <tr style="color: red">
        {% endif %}
            <td>{{ carne.id }}</td>
            <td>{{ carne.fechaCarCond }}</td>
            <td>{{ carne.puntoCond }}</td>
            <td>{{ carne.productoCond }}</td>
            <td>{{ carne.pesoProducto }}</td>
            <td>{{ carne.condimento }}</td>
            <td>{{ carne.pesoTotalCond }}</td>
            <td>{{ carne.costoKiloCond }}</td>
            {% if carne.guardado == True %}
                <td>Guardado</td>
            {% else %}
                <td>Sin guardar</td>
            {% endif %}
            {% if carne.guardado == True %}
                <td></td>
            {% else %}
                <td>
                <a id="costearCond" onclick="CostearCarneCond({{ carne.id }})" href="#">Costear</a>
                <a id="guardarCond" onclick="GuardarCarneCond({{ carne.id }})" href="#">Guardar</a>
            </td>
            {% endif %}
            


        </tr>

            {% empty %}
            <tr>
                <td colspan="10">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset>
             <legend>Nuevo Carne Condimentada<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
