{% extends plantilla %}

{% block titulo %}Croquetas{% endblock titulo %}
{% block mensajes %}

        Croquetas

{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table id="tablaCroquetas" class="table-striped" >

        <thead>
        <tr>
            <th>Fecha</th>
            <th>Punto</th>
            <th>Croqueta</th>
            <th>Condimento</th>
            <th>Miga</th>
            <th>Peso Total</th>
            <th>Costo Kilo</th>
            <th>Guardado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for croqueta in croquetas %}
        {% if croqueta.guardado == False %}
        <tr style="color: red">
        {% endif %}

            <td>{{ croqueta.fechaCroqueta }}</td>
            <td>{{ croqueta.puntoCroq }}</td>
            <td>{{ croqueta.croqueta }}</td>
            <td>{{ croqueta.condimento }}</td>
            <td>{{ croqueta.miga }}</td>
            <td>{{ croqueta.pesoTotalCroqueta }}</td>
            <td>{{ croqueta.costoKiloCroqueta }}</td>
            {% if croqueta.guardado == True %}
                <td>Guardado</td>
            {% else %}
                <td>Sin guardar</td>
            {% endif %}
            {% if croqueta.guardado == True %}
                <td></td>
            {% else %}
                <td>
                <a id="costearCroquetas" onclick="CostearCroqueta({{ croqueta.id }})" href="#">Costear</a>
                <a id="guardarCroquetas" onclick="GuardarCroqueta({{ croqueta.id }})" href="#">Guardar</a>
                <a href="{% url 'Fabricacion.views.borrarCroqueta' croqueta.id %}">Borrar</a>
            </td>
            {% endif %}

        </tr>

            {% empty %}
            <tr>
                <td colspan="10">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset>
             <legend>Taller Croquetas<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
