{% extends 'base.html' %}

{% block titulo %}Sacrificios{% endblock titulo %}
{% block mensajes %}
    Sacrificios
{% endblock %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table id="tablaSacrificio" class="table-striped" >

        <thead>
        <tr>


            <th>Fecha Sacrificio</th>
            <th>Menudo</th>
            <th>Deguello</th>
            <th>Trasporte</th>
            <th>Piel</th>
            <th>Cola</th>
            <th>Creadillas</th>
            <th>Ubre</th>
            <th>Recortes</th>
            <th>Riñones</th>
            <th>Desecho</th>


        </tr>
        </thead>
        {% for sacrificio in sacrificios %}
        <tr>


            <td>{{ sacrificio.fechaSacrificio }}</td>
            <td>${{ sacrificio.vrMenudo }}</td>
            <td>${{ sacrificio.vrDeguello }}</td>
            <td>${{ sacrificio.vrTransporte }}</td>
            <td>${{ sacrificio.piel }}</td>
            <td>{{ sacrificio.cola| floatformat }}gr</td>
            <td>{{ sacrificio.creadillas| floatformat }}gr</td>
            <td>{{ sacrificio.ubre| floatformat }}gr</td>
            <td>{{ sacrificio.recortes| floatformat }}gr</td>
            <td>{{ sacrificio.rinones| floatformat }}gr</td>
            <td>{{ sacrificio.desecho| floatformat }}gr</td>


        </tr>
            {% empty %}
            <tr>
                <td colspan="12">
                   Ningun Registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset>
             <legend>Sacrificio<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formSacrificio }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">

         </fieldset>
    </form>

{% endblock contenido %}
