{% extends 'base.html' %}

{% block titulo %}Planilla Desposte{% endblock titulo %}
{% block mensajes %}
    Listado Despostes
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <table id="despostes" class="table-striped">

        <thead>

        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Tipo Desposte</th>
            <th>Canales a Despostar</th>
            <th>Total Desposte</th>
            <th>Dif Canal/Desposte</th>
            <th>Cif</th>
             <th>Mod</th>
            <th>Guardado</th>
            <th>Acciones</th>

        </tr>
        </thead>
        {% for desposte in despostes %}
        {% if desposte.guardado == False %}
        <tr style="color: red">
        {% endif %}
            <td>{{ desposte.codigoPlanilla }}</td>
            <td>{{ desposte.fechaDesposte }}</td>
            <td>{{ desposte.tipoDesposte }}</td>
            <td>{{ desposte.resesADespostar }}</td>
            <td>{{ desposte.totalDespostado }}</td>
            <td>{{ desposte.difCanalADespostado }}</td>
            <td>{{ desposte.cif }}</td>
            <td>{{ desposte.mod }}</td>
            {% if desposte.guardado == True %}
                <td>Guardado</td>
            {% else %}
                <td>Sin guardar</td>
            {% endif %}


            <td>
                <a href="{% url 'Fabricacion.views.EditaDesposte' desposte.codigoPlanilla %}">Modificar</a>
                <a href="{% url 'Fabricacion.views.GestionDesposteActualizado' desposte.codigoPlanilla %}">Detalle</a>
                <a href="{% url 'Fabricacion.views.borrarDesposte' desposte.codigoPlanilla %}">Borrar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="13">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

    </table>
    <form class="form-horizontal" method="post">{% csrf_token %}
         <fieldset id="desposte">
             <legend>Planilla Desposte <a id="cerrar" href="#"><img src=    "{{ STATIC_URL }}img/cerrar.png"/></a></legend>
                  {{ formulario }}
              <br/><br/>
             <legend></legend>
          <input type="submit" value="Crear Planilla de Desposte" class="btn btn-primary">
         </fieldset>

     </form>

{% endblock contenido %}