{% extends 'base.html' %}

{% block titulo %}Condimentado{% endblock titulo %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>


    <table  id="TablaCondimentado" class="table-striped">

        <thead>
        <tr>

            <th>Codigo</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Peso a Condimentar</th>
            <th>Condimento</th>
            <th>CostoFilete</th>
            <th>COsto Cond.</th>
            <th>Peso Condimetado</th>
            <th>Costo Condimentado</th>
            <th>Acciones</th>

        </tr>
        </thead>
        {% for condimentado in condimentados %}
            <tr>
                <td>{{ condimentado.codigo }}</td>
                <td>{{ condimentado.fecha }}</td>
                <td>{{ condimentado.producto}}</td>
                <td>{{ condimentado.pesoACondimentar }}</td>
                <td>{{ condimentado.condimento }}</td>
                <td>{{ condimentado.costoFilete }}</td>
                <td>{{ condimentado.costoCondimento }}</td>
                <td>{{ condimentado.pesoFileteCond }}</td>
                <td>{{ condimentado.costoFileteCond }}</td>
                {% if condimentado == True %}
                    <td></td>
                {% else %}
                    <td>
                    <a onclick="GuardarCondimentado({{ condimentado.id }})" href="#">Guardar</a>
                    </td>
                {% endif %}



            </tr>

            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>


        {% endfor %}

    </table>
     <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Nuevo Proceso <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
