{% extends 'base.html' %}

{% block titulo %}Bodegas{% endblock titulo %}
{% block mensajes %}
    Recepcion de Ganado
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Encargado</th>
            <th>Tipo Ganado</th>
            <th>Fecha Recepcion</th>
            <th>Cant. Cabezas</th>
            <th>Proveedor</th>
            <th>Transporte</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for recepcion in recepciones %}
        <tr>
            <td>{{ recepcion.codigoRecepcion }}</td>
            <td>{{ recepcion.empleado }}</td>
            <td>{{ recepcion.tipoGanado }}</td>
            <td>{{ recepcion.fechaRecepcion }}</td>
            <td>{{ recepcion.cantCabezas }}</td>
            <td>{{ recepcion.provedor }}</td>
            <td>{{ recepcion.transporte }}</td>


            <td style="font-weight: bold ; text-align: center">
                <a href="{% url 'Fabricacion.views.GestionCanal' recepcion.codigoRecepcion %}">Canal</a>
                <!--<a href="{% url 'Fabricacion.views.GestionSacrificio' recepcion.codigoRecepcion %}">Sacrificio</a>-->
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun Registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="compras">
             <legend>Recepciones<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
                 {{ formulario }}
              <br/><br/>

              <legend>Acciones</legend>
             <input type="submit" value="Guardar" class="btn btn-default">

         </fieldset>
     </form>
{% endblock contenido %}
