{% extends 'base.html' %}

{% block titulo %}Desposte{% endblock titulo %}
{% block mensajes %}
    Desposte Detallado

{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<a id="guardar" href="#"><input type="button" value="Guardar Cantidades" class="btn btn-danger"></a>
<a id="costear" href="#"><input type="button" value="Costear" class="btn btn-success"></a>
    <br/>
    <br/>
    <br/>
<table class="table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Cant. a Depostar</th>
            <th>Total Despostado(grs)</th>
            <th>Total Canal(grs)</th>
            <th>Dif Canal/desp</th>
            <th>Cif</th>
            <th>Mod</th>
            <th>Guardado</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="codigoPlanilla">{{ desposte.codigoPlanilla }}</td>
            <td>{{ desposte.fechaDesposte }}</td>
            <td>{{ desposte.resesADespostar }}</td>
            <td>{{ desposte.totalDespostado|floatformat }} grs</td>
            <td id="pesoCanales">{{ desposte.totalCanal|floatformat }}</td>
            <td>{{ desposte.difCanalADespostado |floatformat }} grs</td>
            <td>{{ desposte.cif }}</td>
            <td>{{ desposte.mod }}</td>
            {% if desposte.guardado == True %}
                <td>Si</td>
            {% else %}
                 <td>No</td>
            {% endif %}


        </tr>

    </tbody>
</table>
    <br/>
<table  class="table-striped">
        <thead>

        <tr>

            <th>Planilla</th>
            <th>Numero</th>
            <th>Peso Frigovito</th>
            <th>Peso Porkilandia</th>
            <th>Dif. de pesos</th>
            <th>Vr. Kilo Canal</th>
            <th>Vr. Arroba Canal</th>


        </tr>
        </thead>
        <tbody>
          {% for cnl in canales %}
        <tr>

            <td>{{ cnl.planilla }}</td>
            <td>{{ cnl.nroCanal }}</td>
            <td>{{ cnl.pesoFrigovito | floatformat }} Kg</td>
            <td>{{ cnl.pesoPorkilandia | floatformat }} Kg</td>
            <td>{{ cnl.difPesos | floatformat }} Kg</td>
            <td>$ {{ cnl.vrKiloCanal }}</td>
            <td>$ {{ cnl.vrArrobaCanal }}</td>


        </tr>

        {% empty %}
            <tr>
                <td colspan="7">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

        </tbody>


      </table>
    <br/>
<!----------------------------------------------------- TABLA CARNES 1 ------------------------------------------------>

<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">CARNES 1</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for carne in carnes %}
            {% if carne.costoProducto > carne.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ carne.producto.codigoProducto }}</td>
                <td>{{ carne.producto }}</td>
                <td>{{ carne.producto.grupo.nombreGrupo }}</td>
                <td>{{ carne.unidades }}</td>
                <td>{{ carne.PesoProducto| floatformat }}</td>
                <td>{{ carne.costoProducto }}</td>
                <td>{{ carne.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' carne.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' carne.id %}">Borrar</a>
                </td>

            </tr>

        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrCarnes }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloCarnes">{{ vrKiloCarnes | floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>

<!---------------------------------------------------- TABLA CARNES 2--------------------------------------------------->

<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">CARNES 2</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for carne2 in carnes2 %}
            {% if carne2.costoProducto > carne2.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ carne2.producto.codigoProducto }}</td>
                <td>{{ carne2.producto }}</td>
                <td>{{ carne2.producto.grupo.nombreGrupo }}</td>
                <td>{{ carne2.unidades }}</td>
                <td>{{ carne2.PesoProducto| floatformat }}</td>
                <td>{{ carne2.costoProducto }}</td>
                <td>{{ carne2.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' carne2.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' carne2.id %}">Borrar</a>
                </td>

            </tr>

        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrCarnes2 }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloCarnes2">{{ vrKiloCarnes2 | floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>
<!------------------------------------------------ TABLA CARNES 3 ----------------------------------------------------->

<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">CARNES 3</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for carne3 in carnes3 %}
            {% if carne3.costoProducto > carne3.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ carne3.producto.codigoProducto }}</td>
                <td>{{ carne3.producto }}</td>
                <td>{{ carne3.producto.grupo.nombreGrupo }}</td>
                <td>{{ carne3.unidades }}</td>
                <td>{{ carne3.PesoProducto| floatformat }}</td>
                <td>{{ carne3.costoProducto }}</td>
                <td>{{ carne3.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' carne3.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' carne3.id %}">Borrar</a>
                </td>

            </tr>

        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrCarnes3 }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloCarnes3">{{ vrKiloCarnes3 | floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>
<!----------------------------------------------- TABLA CARNES 4 ------------------------------------------------------>

<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">CARNES 4</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for carne4 in carnes4 %}
            {% if carne4.costoProducto > carne4.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ carne4.producto.codigoProducto }}</td>
                <td>{{ carne4.producto }}</td>
                <td>{{ carne4.producto.grupo.nombreGrupo }}</td>
                <td>{{ carne4.unidades }}</td>
                <td>{{ carne4.PesoProducto| floatformat }}</td>
                <td>{{ carne4.costoProducto }}</td>
                <td>{{ carne4.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' carne4.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' carne4.id %}">Borrar</a>
                </td>

            </tr>

        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrCarnes4 }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloCarnes4">{{ vrKiloCarnes4 | floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>


<!-- TABLA Costillas -->

<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">COSTILLAS</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        {% for costilla in costillas %}
            {% if costilla.costoProducto > costilla.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ costilla.producto.codigoProducto }}</td>
                <td>{{ costilla.producto }}</td>
                <td>{{ costilla.producto.grupo.nombreGrupo }}</td>
                <td>{{ costilla.unidades }}</td>
                <td>{{ costilla.PesoProducto| floatformat }}</td>
                <td>{{ costilla.costoProducto }}</td>
                <td>{{ costilla.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' costilla.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' costilla.id %}">Borrar</a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrCostillas }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloCostilla">{{ vrKiloCostillas | floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>

    <!-- TABLA SUBPRODUCTOS -->
<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center"  colspan="8">SUB PRODUCTOS</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for subp in subProductos %}
            {% if subp.costoProducto > subp.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ subp.producto.codigoProducto }}</td>
                <td>{{ subp.producto }}</td>
                <td>{{ subp.producto.grupo.nombreGrupo }}</td>
                <td>{{ subp.unidades }}</td>
                <td>{{ subp.PesoProducto| floatformat }}</td>
                <td>{{ subp.costoProducto }}</td>
                <td>{{ subp.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' subp.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' subp.id %}">Borrar</a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrsubProd }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloSubProd">{{ vrKiloSubProd | floatformat}}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>

<!-- TABLA HUESOS -->
<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">HUESOS</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        {% for hueso in huesos %}
            {% if hueso.costoProducto > hueso.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ hueso.producto.codigoProducto }}</td>
                <td>{{ hueso.producto }}</td>
                <td>{{ hueso.producto.grupo.nombreGrupo }}</td>
                <td>{{ hueso.unidades }}</td>
                <td>{{ hueso.PesoProducto| floatformat }}</td>
                <td>{{ hueso.costoProducto }}</td>
                <td>{{ hueso.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' hueso.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' hueso.id %}">Borrar</a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}

        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrHuesos }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloHueso">{{ vrKiloHuesos| floatformat }}</th>
            <th></th><th></th><th></th><th></th>
        </tr>

    </tbody>
</table>
    <br/>
    <!-- TABLA DESECHOS -->
<table class="table-striped">
    <thead>
        <tr>
            <th style="text-align: center" colspan="8">DESECHOS</th>
        </tr>
        <tr>
            <th>cod Producto</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th>Unidades</th>
            <th>Peso Producto</th>
            <th>Costo Prim</th>
            <th>Costo Adtvo</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        {% for desecho in desechos %}
            {% if desecho.costoProducto > desecho.costoAdtvo %}
                <tr style="color: red">
            {% else %}
                <tr style="color: green">
            {% endif %}
                <td>{{ desecho.producto.codigoProducto }}</td>
                <td>{{ desecho.producto }}</td>
                <td>{{ desecho.producto.grupo.nombreGrupo }}</td>
                <td>{{ desecho.unidades }}</td>
                <td>{{ desecho.PesoProducto| floatformat }}</td>
                <td>{{ desecho.costoProducto }}</td>
                <td>{{ desecho.costoAdtvo }}</td>
                <td>
                    <a href="{% url 'Fabricacion.views.EditaDetPlanilla' desecho.id %}">Modificar</a>
                    <a href="{% url 'Fabricacion.views.borrarDetDesposte' desecho.id %}">Borrar</a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        <tr>
            <th>Costo Grupo</th>
            <th>{{ vrDesecho }}</th>
            <th>Costo Kilo Base</th>
            <th id="kiloDesecho">{{ vrKiloDesecho | floatformat }}</th>
           <th></th><th></th><th></th><th></th>

        </tr>

    </tbody>
</table>



    <form method="post">{% csrf_token %}
         <fieldset id="desposte">
             <legend>Detalle <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
              <div>
                  {{ formulario }}
              </div>
              <br/><br/>
              <legend>Acciones</legend>
             <input type="submit" value="Guardar" class="btn btn-primary">

         </fieldset>
     </form>

{% endblock contenido %}