{% extends 'base.html' %}

{% block titulo %}::Apanados::{% endblock titulo %}
{% block mensajes %}
Promedio de productos

{% endblock mensajes %}
{% block contenido %}
<div id="progressbar"></div>
    <div id="rango">
     <label>Fecha Inicio</label><input id="inicio" type="text">
     <label>Fecha Final</label><input id="fin" type="text">
     <label for="grupo">Grupo</label><select id="grupo">
        {% for grupo in grupos %}
            <option value={{ grupo.id }}>{{ grupo.nombreGrupo }}</option>
        {% endfor %}
    </select>
     <a  onclick="consultaPromedioPorFecha()" href="#"><input type="button" value="Consultar"></a>
    <br/>
    <br/>
    </div>


<div id="acordeon">
<h3>Total Ingreso de productos Desposte</h3>
    <div>
        <table id="tablaPesos" class="table-striped" style="width: 95%">

            <thead>
            <tr>
                <th>Producto</th>
                <th>Peso</th>
            </tr>
            </thead>

        </table>
    </div>
<h3>Promedio Productos de Desposte</h3>
    <div>
        <table id="tablaPromedio" class="table-striped" style="width: 95%">

            <thead>
            <tr>
                <th>Producto</th>
                <th>Costo Promedio</th>
            </tr>
            </thead>

        </table>
    </div>
<h3>Total Despostado</h3>
    <div>
        <table id="tablaPesoDespostado" class="table-striped" style="width: 95%">

            <thead>
            <tr>
                <th>Total Despostado</th>
            </tr>
            </thead>

        </table>
    </div>
<h3>Promedio Perdida de Canal a Desposte</h3>
    <div>
        <table id="tablaPromedioPerdida" class="table-striped" style="width: 95%">

            <thead>
            <tr>
                <th>Promedio Perdida</th>
            </tr>
            </thead>

        </table>
    </div>

</div>

{% endblock contenido %}
