{% extends 'base.html' %}

{% block titulo %}Reporte Compras{% endblock titulo %}
{% block mensajes %}
    Reporte Compras
{% endblock mensajes %}
{% block contenido %}
<div id="rangoCompras">

     <label for="compras">Compras Reses</label><select id="compras">
        {% for compra in compras %}
            <option value={{ compra.codigoCompra }}>{{ compra.fechaCompra }}</option>
        {% endfor %}
    </select>
     <a  onclick="ReportePesosLote()" href="#"><input type="button" value="Consultar"></a>
        <br/>
        <br/>
        <br/>
   </div>
    <div id="acordeon">
        <h3>Peso Total</h3>
        <div>
            <table id="tablaPesoLote" class="table-striped">
        <thead>
        <tr>
            <th >dato 1</th>
            <th >Dato 2</th>
        </tr>
        </thead>

        </table>
        </div>
    </div>




{% endblock contenido %}