{% extends 'base.html' %}

{% block titulo %}Reporte Rendimiento{% endblock titulo %}
{% block mensajes %}
    Reporte Rendimiento por lote
{% endblock mensajes %}
{% block contenido %}
    <div id="progressbar"></div>
<div id="rangoCompras">

     <label for="compras">Compras</label><select id="compras">
        {% for compra in compras %}
            <option value={{ compra.codigoCompra }}>{{ compra.fechaCompra }} ({{ compra.tipo }})</option>
        {% endfor %}
    </select>

     <a  onclick="ReportePesosLote()" href="#"><input type="button" value="Consultar"></a>
        <br/>
        <br/>
        <br/>
   </div>
    <div id="acordeon" style="align-self: center">
        <h3>Analisis de Rendimiento</h3>
        <div>
            <table id="tablaCostoLote" class="table-striped">
        <thead>
        <tr>
            <th >Producto</th>
            <th >Total Despostado</th>
        </tr>
        </thead>

        </table>
        </div>
        <h3>Peso Total</h3>
        <div>
            <table id="tablaPesoLote" class="table-striped">
        <thead>
        <tr>
            <th>Producto</th>
            <th >Total Despostado</th>
        </tr>
        </thead>

        </table>
        </div>
         <h3>Costo Total</h3>
        <div>
            <table id="tablaCosto" class="table-striped">
        <thead>
        <tr>
            <th>Producto</th>
            <th >Costo</th>
        </tr>
        </thead>

        </table>
        </div>


         <h3>Peso por Grupos</h3>
        <div>
            <table id="tablaPesoCarne" class="table-striped">
        <thead>
        <tr>
            <th >Categoria</th>
            <th >Peso</th>
        </tr>
        </thead>

        </table>
        </div>

    </div>

     <div id="diagrama">

       <div id="SubProducto">
            <p id="tituloGrafica">SubProducto</p>
        </div>
        <div id="Grasa">
            <p id="tituloGrafica">Grasa</p>
        </div>
        <div id="carne">
            <p id="tituloGrafica">carne</p>
        </div>
        <div id="Desecho">
            <p id="tituloGrafica">Desecho</p>
        </div>
        <div id="Costilla">
            <p id="tituloGrafica">Costilla</p>
        </div>
        <div id="Hueso">
            <p id="tituloGrafica">Hueso</p>
        </div>

    </div>

{% endblock contenido %}