<!DOCTYPE html>
<html>
<head>

    <title>{% block titulo %}{% endblock titulo %}</title>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/miCss.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTable.css"/>



</head>
<body>
<header >
    <hgroup>
        <h1>S     I       C       V</h1>
        <h2>Sistema de Gestion de Inventario Costos y puntos de Venta</h2>
    </hgroup>

</header>
<section>
            <img src="#">

            <nav>
                <ul>
                    <li ><a href="/listaProd" >Listado De productos</a> </li>
                    <li><a href="/verSubProductos">Listado Sub Productos</a> </li>

                </ul>
            </nav>


        <section id="panel-central"  >
            {% block contenido %}{% endblock contenido %}
        </section>
        <footer>
            {% block pie %} {% endblock pie %}
        </footer>
</section>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/acciones.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

</body>
</html>