{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block contenido %}

 <table class="table table-bordered">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Costo</td>
            <td>Vr. Compra</td>
            <td>Vr. Venta</td>
            <td>Gravado</td>
            <td>Excento</td>
            <td>Excluido</td>
            <td>Utilidad</td>
            <td>Rentabilidad</td>
            <td>Refrigerado</td>
            <td>Congelado</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tr>
            <td>{{ subrpoductos.nombreSubProducto }}</td>
            <td>{{ subrpoductos.costoSubProducto }}</td>
            <td>{{ subrpoductos.vrCompraSubProducto }}</td>
            <td>{{ subrpoductos.vrVentaSubProducto }}</td>
            <td>{{ subrpoductos.gravado }}</td>
            <td>{{ subrpoductos.excento }}</td>
            <td>{{ subrpoductos.excluido }}</td>
            <td>{{ subrpoductos.utilidadSubProducto }}</td>
            <td>{{ subrpoductos.rentabilidadSubProducto }}</td>
            <td>{{ subrpoductos.refrigerado }}</td>
            <td>{{ subrpoductos.congelado }}</td>
            <td>
                <a href="#"class="btn">Editar</a>
                <a href="#"class="btn btn-danger">Borrar</a>

            </td>

        </tr>
     </table>

     <table class="table table-bordered">
        <thead>
        <tr>

            <td>Producto</td>
            <td>Peso</td>
            <td>unidades</td>
        </tr>
        </thead>
        {% for desubproducto in desubproductos %}
        <tr>

            <td>{{ desubproducto.producto }}</td>
            <td>{{ desubproducto.pesoUnitProducto }}</td>
            <td>{{ desubproducto.unidades }}</td>
            <td>
                <a href="#"class="btn">Editar</a>
                <a href="#"class="btn btn-danger">Borrar</a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock contenido %}