{% extends 'base.html' %}

{% block titulo %}Productos{% endblock titulo %}
{% block contenido %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Peso</td>
            <td>Costo</td>
            <td>Vr. Compra</td>
            <td>Gravado</td>
            <td>Utilidad</td>
            <td>Rentabilidad</td>
            <td>Refrigerado</td>
            <td>Congelado</td>
            <td></td>
        </tr>
        </thead>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.pesoProducto }}</td>
            <td>{{ producto.costoProducto }}</td>
            <td>{{ producto.vrCompraProducto }}</td>
            <td>{{ producto.gravado }}</td>
            <td>{{ producto.utilidadProducto }}</td>
            <td>{{ producto.rentabilidadProducto }}</td>
            <td>{{ producto.refrigerado }}</td>
            <td>{{ producto.congelado }}</td>
            <td>
                <a href="#"class="btn">Editar</a>
                <a href="{% url inventario.views.borrar_producto producto.id %}"class="btn btn-danger">Borrar</a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <a href="{% url inventario.views.agregar_producto %}" class="btn btn-primary" >Agregar producto</a>
{% endblock contenido %}
