{% extends 'base.html' %}

{% block titulo %}Productos{% endblock titulo %}
{% block contenido %}
    <table class="table table-strip">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Peso</td>
            <td>Costo</td>
            <td>Vr. Compra</td>
            <td>Gravado</td>
            <td>Utilidad</td>
            <td>Rentabilidad</td>
            <td>Refrigerado</td>
            <td>Congelado</td>
            <td></td>
        </tr>
        </thead>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.pesoProducto }}</td>
            <td>{{ producto.costoProducto }}</td>
            <td>{{ producto.vrCompraProducto }}</td>
            <td>{{ producto.gravado }}</td>
            <td>{{ producto.utilidadProducto }}</td>
            <td>{{ producto.rentabilidadProducto }}</td>
            <td>{{ producto.refrigerado }}</td>
            <td>{{ producto.congelado }}</td>
            <td></td>

        </tr>
        {% endfor %}
    </table>
{% endblock contenido %}
