<!DOCTYPE html>
<html>
<head>

    <title>{% block titulo %}{% endblock titulo %}</title>

    <!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/miCSS.css"/> -->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTable.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTable_themeroller.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/menu.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>


</head>
<body>
<section>

        <div id="nav">
            <ul>
                    <li><a href="/">Informacion General</a></li>
                    <li><span id="inventario" tabindex="1">Inventario</span>
                        <ul>
                            <li><a href="/iventario/listaProd"><img src="{{ STATIC_URL }}img/item.png" alt="" />Gestionar Producto</a></li>
                            <li><a href="/iventario/verSubProductos"><img src="{{ STATIC_URL }}img/item.png" alt="" />Gestionar Sub Productos</a></li>
                            <li><a href="/iventario/compra"><img src="{{ STATIC_URL }}img/item.png" alt="" />Compra</a></li>
                            <li><a href="/iventario/bodega"><img src="{{ STATIC_URL }}img/item.png" alt="" />Bodega</a></li>
                            <li><a href="/iventario/desposte"><img src="{{ STATIC_URL }}img/item.png" alt="" />Desposte</a></li>
                            <li><a href="/iventario/traslado"><img src="{{ STATIC_URL }}img/item.png" alt="" />Traslado</a></li>
                            <li><a href="/iventario/condimento"><img src="{{ STATIC_URL }}img/item.png" alt="" />Condimento</a></li>
                            <li><a href="/iventario/miga"><img src="{{ STATIC_URL }}img/item.png" alt="" />Miga</a></li>
                            <li><a href="/iventario/grupo"><img src="{{ STATIC_URL }}img/item.png" alt="" />Grupo</a></li>


                        </ul>
                    </li>
                    <li><span id="personas" tabindex="1">Personas</span>
                        <ul>
                            <li><span id="empleado" tabindex="1"><img src="{{ STATIC_URL }}img/item.png" alt="" />Empleado</span>
                                <ul>
                                    <li><a href="/iventario/empleado/"><img src="{{ STATIC_URL }}img/item.png" alt="" />Gestion de Empleado</a></li>
                                    <li><a href="/iventario/cargo"><img src="{{ STATIC_URL }}img/item.png" alt="" />Gestion de Cargos</a></li>
                                </ul>
                            </li>
                            <li><a href="/iventario/provedor"><img src="{{ STATIC_URL }}img/item.png" alt="" />Proveedor</a></li>
                            <li><a href="#"><img src="{{ STATIC_URL }}img/item.png" alt="" />Cliente</a></li>
                        </ul>
                    </li>

                    <img class="close" src="images/spacer.gif" alt="" />
                    {{ hoy }}
                </ul>

            </div>
        <div id="mensaje">
            {% block mensajes %}
            {% endblock mensajes %}
        </div>
        <div class="container-fluid">

        <section id="panel-central"  >


            {% block contenido %}{% endblock contenido %}

        </section>
        </div>


</section>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/acciones.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bPopup.js"></script>



</body>
</html>