{% extends 'base.html' %}

{% block titulo %}Pagina de inicio{% endblock titulo %}
{% block mensajes %}{% now "j F Y " %}{% endblock mensajes %}
{% block contenido %}

<div id="homeAccordeon">
    <h3>Stock Actual en bodega por producto</h3>
    <div>
        <table id="tablastock" class="table-striped" style="width: 100%"  >

        <thead>

        <tr>
            <th colspan="5" style="text-align: center">Listado Bodegas con bajo Stock</th>
        </tr>
        <tr>
            <th>Bodega</th>
            <th>Grupo</th>
            <th>Producto</th>
            <th>Peso en Stock</th>
            <th>Unidades en stock</th>

        </tr>
        </thead>
        {% for producto in productosBajoStock %}

        <tr>
            <td>{{ producto.bodega.nombreBodega }}</td>
            <td>{{ producto.producto.grupo.nombreGrupo }}</td>
            <td>{{ producto.producto.nombreProducto }}</td>
            <td>{{ producto.pesoProductoStock|floatformat }}grs</td>
            <td>{{ producto.unidadesStock }}</td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    </div>
    <h3>Costo actual por producto</h3>
    <div>
        <table id="tablacostos" class="table-striped" style="width: 100%"  >

        <thead>
        <tr>
            <th colspan="4" style="text-align: center">Listado de Costo por kilo de producto</th>
        </tr>
        <tr>
            <th>Codigo</th>
            <th>Grupo</th>
            <th>Nombre</th>
            <th>Costo Kilo</th>


        </tr>
        </thead>
        {% for costosProducto in costosProductos %}
        <tr>
            <td>{{ costosProducto.codigoProducto }}</td>
            <td>{{ costosProducto.grupo.nombreGrupo }}</td>
            <td>{{ costosProducto.nombreProducto }}</td>
            <td>${{ costosProducto.costoProducto }}</td>



        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    </div>
</div>

{% endblock contenido %}
