{% extends 'PuntoVentaNorte.html' %}

{% block titulo %}Usuarios{% endblock titulo %}
{% block mensajes %}
    {% if mensaje %}
        <b>{{  mensaje }}</b>
    {% else %}
        <b>Login de Usuario de Usuarios</b>
    {% endif %}


{% endblock mensajes %}
{% block contenido %}

     <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="InicioSesion">
             <label for="jornada">Jornada</label>
             <select name="jornada" id="jornada">
                 <option value="AM">AM</option>
                 <option value="PM">PM</option>
             </select>
             <legend>Inicio de sesion</legend>

                  {{ formulario }}
              <br/>

          <input class="btn btn-success" value="Ingresar" type="submit">
         </fieldset>
     </form>

{% endblock contenido %}