{% extends 'base.html' %}

{% block titulo %}Productos{% endblock titulo %}
{% block contenido %}

    <h2>Listado de Productos</h2>
    <table id="tablaProductos" class="tabla" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Vr. Compra</th>
            <th>Vr. Venta</th>
            <th>Gravado</th>
            <th>Excento</th>
            <th>Excluido</th>
            <th>Utilidad</th>
            <th>Rentabilidad</th>
            <th>Refrigerado</th>
            <th>Congelado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigoProducto }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.costoProducto }}</td>
            <td>{{ producto.vrCompraProducto }}</td>
            <td>{{ producto.vrVentaProducto }}</td>
            <td>{{ producto.gravado }}</td>
            <td>{{ producto.excento }}</td>
            <td>{{ producto.excluido }}</td>
            <td>{{ producto.utilidadProducto }}</td>
            <td>{{ producto.rentabilidadProducto }}</td>
            <td>{{ producto.refrigerado }}</td>
            <td>{{ producto.congelado }}</td>
            <td>
                <a href="{% url 'Inventario.views.editar_producto' producto.codigoProducto %}"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="{% url 'Inventario.views.borrar_producto' producto.codigoProducto %}" id="borrador"><img src="{{ STATIC_URL }}img/borrar.png"></a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-actions">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Nuevo Producto</legend>
              <div>
                  {{ formulario }}
              </div>
              <br/>
          <input type="submit">
         </fieldset>
     </form>
{% endblock contenido %}
