{% extends 'base.html' %}

{% block titulo %}Ventas{% endblock titulo %}
{% block mensajes %}Listado de Ventas {% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<br/><br/><br/>
    <table id="tablabodegas" class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Lista</th>
            <th>Bodega</th>
            <th>Venta Total</th>
            <th>Registradora</th>
            <th>Efectivo</th>
            <th>Descuadre</th>
            <th>Residuo</th>

            <th>Accion</th>

        </tr>
        </thead>
        {% for venta in ventas %}
        {% if venta.guardado == False %}
        <tr style="color: red">
        {% else%}
            <tr style="color: green">
        {% endif %}
            <td>{{ venta.numeroVenta }}</td>
            <td>{{ venta.fechaVenta }}</td>
            <td>{{ venta.lista }}</td>
            <td>{{ venta.bodega }}</td>
            <td>{{ venta.TotalVenta }}</td>
            <td>{{ venta.TotalRegistradora }}</td>
            <td>{{ venta.efectivo }}</td>
            <td>{{ venta.descuadre }}</td>
            <td>{{ venta.residuo }}</td>

            <td>
                <a href="{% url 'Ventas.views.GestionDetalleVentas' venta.numeroVenta %}">Detalles</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Venta<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}