{% extends 'base.html' %}

{% block titulo %}::Listas De Precios::{% endblock titulo %}
{% block mensajes %}Listas De Precios {% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<br/><br/><br/>
    <table id="tablabodegas" class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Punto</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for lista in listas %}
        <tr>
            <td>{{ lista.codigoLista }}</td>
            <td>{{ lista.fecha }}</td>
            <td>{{ lista.nombreLista }}</td>
            <td>{{ lista.tipoLista }}</td>
            <td>{{ lista.bodega }}</td>

            <td>
                <a href="{% url 'Ventas.views.GestionDetalleLista' lista.codigoLista %}">Detalles</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Venta<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}