{% extends 'base.html' %}

{% block titulo %}Detalle Ventas{% endblock titulo %}
{% block mensajes %}Detalle de Venta {% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<a id="guardarVentas" href="#"><input type="button" value="Guardar Ventas" class="btn btn-danger"></a>
<br/><br/><br/>
    <table class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Lista</th>
            <th>Bodega</th>
            <th>Venta Total</th>
            <th>Contado</th>
            <th>Credito</th>
            <th>Registradora</th>
            <th>Efectivo</th>
            <th>Descuadre</th>
            <th>Residuo</th>

        </tr>
        </thead>
        <tr>
            <td id="codigoVenta">{{ venta.numeroVenta }}</td>
            <td>{{ venta.fechaVenta }}</td>
            <td id="codigoLista">{{ venta.lista.codigoLista }}</td>
            <td>{{ venta.bodega }}</td>
            <td>{{ venta.TotalVenta }}</td>
            <td>{{ venta.TotalContado }}</td>
            <td>{{ venta.TotalCredito }}</td>
            <td>{{ venta.TotalRegistradora }}</td>
            <td>{{ venta.efectivo }}</td>
            <td>{{ venta.descuadre }}</td>
            <td>{{ venta.residuo }}</td>

        </tr>

    </table>

    <br/><br/>
    <table class="table-striped" >

        <thead >
        <tr>

            <th>Producto</th>
            <th>Peso</th>
            <th>Unidades</th>
            <th>Vr. Unitario</th>
            <th>Vr. Total</th>
            <th>Modalidad</th>
            <th>Accion</th>

        </tr>
        </thead>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.productoVenta }}</td>
            <td id="peso">{{ detalle.peso }}</td>
            <td>{{ detalle.unidades }}</td>
            <td>{{ detalle.vrUnitario }}</td>
            <td>{{ detalle.vrTotal }}</td>
            {% if detalle.credito %}
                <td>Credito</td>
            {% else %}
                <td>Contado</td>
            {% endif %}




            <td>
                <a href="{% url 'Ventas.views.EditaDetalleVentas' detalle.id %}">Modificar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Venta<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}