{% extends plantilla %}

{% block titulo %}Pedidos{% endblock titulo %}
{% block mensajes %}Listado de Pedidos de {{ cliente }}{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>

    <br/><br/><br/>
    <table id="tablabodegas" class="table-striped" >

        <thead >
        <tr>
            <th>Factura</th>
            <th>Fecha y hora</th>
            <th>Lista Precios</th>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Bodega</th>
            <th>Tipo</th>
            <th>Vr. Pedido</th>
            <th>Guardado</th>
            <th>Accion</th>

        </tr>
        </thead>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.numeroFactura }}</td>
            <td>{{ pedido.fechaPedido }}</td>
            <td>{{ pedido.listaPrecioPedido }}</td>
            <td>{{ pedido.empleado }}</td>
            <td>{{ pedido.cliente }}</td>
            <td>{{ pedido.bodega}}</td>
            {% if pedido.credito == True %}
                <td id="tipoPedido">Credito</td>
            {% else %}
                <td id="tipoPedido" >Contado</td>
            {% endif %}

            <td> {{ pedido.TotalVenta }} </td>
            {% if pedido.guardado == True %}
                    <td id="tipoPedido">Si</td>
                {% else %}
                    <td id="tipoPedido" >No</td>
                {% endif %}
            <td>
                <a  href="{% url 'Ventas.views.GestionDetallePedido' pedido.numeroPedido %}">Detalles</a>
                <a  href="{% url 'Ventas.views.BorrarPedidos' pedido.numeroPedido %}">Borrar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Pedido<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}
