{% extends 'base.html' %}

{% block titulo %}{{ pedido.cliente.nombreCliente }}{% endblock titulo %}
{% block mensajes %}Detalles del pedido{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<a  onclick="GuardarPedido({{ pedido.numeroPedido }})" href="#"><input type="button" value="Guardar" class="btn btn-warning"></a>
    <br/><br/><br/>
    <table class="table-striped" >

        <thead >
        <tr>
            <th>Factura</th>
            <th>Fecha y hora</th>
            <th>Lista Precios</th>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Bodega</th>
            <th>Tipo</th>
            <th>Vr.Pedido</th>
            <th>Guardado</th>


        </tr>
        </thead>
            <tr>
                <td>{{ pedido.numeroFactura }}</td>
                <td>{{ pedido.fechaPedido }}</td>
                <td id="listaPrecios">{{ pedido.listaPrecioPedido.codigoLista }}</td>
                <td>{{ pedido.empleado }}</td>
                <td>{{ pedido.cliente }}</td>
                <td id="bodegaPedido">{{ pedido.bodega.codigoBodega}}</td>
                {% if pedido.credito == True %}
                    <td id="tipoPedido">Credito</td>
                {% else %}
                    <td id="tipoPedido" >Contado</td>
                {% endif %}

                <td>{{ pedido.TotalVenta }}</td>
                {% if pedido.guardado == True %}
                    <td id="tipoPedido">Si</td>
                {% else %}
                    <td id="tipoPedido" >No</td>
                {% endif %}
            </tr>

    </table>
    <br/>
    <table class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Direccion</th>


        </tr>
        </thead>

            <tr>
                <td>{{ pedido.cliente.codigoCliente }}</td>
                <td>{{ pedido.cliente.nombreCliente }}</td>
                <td>{{ pedido.cliente.telefonoCliente }}</td>
                <td>{{ pedido.cliente.direccionCliente }}</td>

            </tr>

    </table>
    <br/>

    <table class="table-striped" >

        <thead >
        <tr>
            <th>Producto</th>
            <th>Peso</th>
            <th>Unidades</th>
            <th>Vr.Unitario</th>
            <th>Vr. Total</th>
            <th>Accion</th>

        </tr>
        </thead>
        {% for det  in detPedido %}
        <tr>
            <td>{{ det.producto }}</td>
            <td>{{ det.pesoPedido }}grs</td>
            <td>{{ det.unidadesPedido }}</td>
            <td>{{ det.vrUnitario }}</td>
            <td>{{ det.vrTotalPedido }}</td>
            <td><a href="{% url 'Ventas.views.BorrarDetallePedido' det.id %}">Borrar</a>
                <a href="{% url 'Ventas.views.EditarDetallePedido' det.id %}">Editar</a>
            </td>

        </tr>

            {% empty %}
            <tr>
                <td colspan="9" >
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}


    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Pedido<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             <label for="id_productoPedido">Producto</label><select id="id_productoPedido" name="productoPedido">
                 {% for lista in ListadoPrecios %}
                     <option value="{{ lista.productoLista.codigoProducto }}">{{ lista.productoLista.numeroProducto }} --{{ lista.productoLista.nombreProducto }}</option>
                {% endfor %}
             </select>

                  {{ formulario }}

              <br/>
          <input class="btn btn-primary" value="Guardar" type="submit">

         </fieldset>
     </form>
{% endblock contenido %}
