{% extends 'base.html' %}

{% block titulo %}::Ventas Puntos::{% endblock titulo %}
{% block mensajes %}
Ventas Norte

{% endblock mensajes %}
{% block contenido %}

    <div id="rango">
     <label for="porFecha">Por Fecha</label><input name="TipoReporte" id="porFecha" type="radio">
     <label for="porCliente">Por Cliente</label><input name="TipoReporte" id="porCliente" type="radio">
     <label for="inicio">Fecha Inicio</label><input id="inicio" type="text">
     <label for="fin">Fecha Final</label><input id="fin" type="text">
    <label for="bodega">Bodega</label><select id="bodega">
         {% for bodega in bodegas %}
             <option value="{{ bodega.codigoBodega }}">{{ bodega.nombreBodega }}</option>
        {% endfor %}
     </select>
     <label for="cliente">Cliente</label><select id="cliente">
         {% for cliente in clientes %}
             <option value="{{ cliente.codigoCliente }}">{{ cliente.nombreCliente }}</option>
        {% endfor %}
     </select>
     <a  onclick="ReporteTipoPedido()" href="#"><input type="button" value="Consultar"></a>

        <br/>
        <br/>
        <br/>
    </div>
<table id="TablaPedidos" class="table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Nit Cliente</th>
            <th>Cliente</th>
            <th>Total Venta</th>
            <th>Credito</th>
            <th>Contado</th>
            <th>Acciones</th>
        </tr>
    </thead>


</table>
    <br/><br/>
<table id="TablaVentasClientes" class="table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Nit Cliente</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Total Venta</th>
            <th>Acciones</th>
        </tr>
    </thead>


</table>

<div id="progressbar"></div>
{% endblock contenido %}
<div id="progressbar"></div>