{% extends 'base.html' %}

{% block titulo %}::Configuracion Puntos de Venta ::{% endblock titulo %}
{% block mensajes %}Configuracion Puntos de Venta{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<br/><br/><br/>
    <table class="table-striped">

        <thead >
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Punto</th>
            <th>Cajero</th>
            <th>Jornada</th>
            <th>Consec Fact Inicial</th>
            <th>Consec Fact Actual</th>
            <th>Consec Fact Filnal</th>
            <th>Consec Z</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for configuracion in configuraciones %}
            <tr>
            <td>{{ configuracion.fecha }}</td>
            <td>{{ configuracion.nombreConfiguracion }}</td>
            <td>{{ configuracion.bodega }}</td>
            <td>{{ configuracion.cajero }}</td>
            <td>{{ configuracion.jornada }}</td>
            <td>{{ configuracion.inicia }}</td>
            <td>{{ configuracion.actual }}</td>
            <td>{{ configuracion.finaliza }}</td>
            <td>{{ configuracion.consecutivoZ }}</td>

            <td>
                <a href="{% url 'Ventas.views.EditaConfigPuntos' configuracion.id  %}">Editar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Caja<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}