{% extends 'PuntoVentaNorte.html' %}

{% block titulo %}::Porkilandia Norte::{% endblock titulo %}
{% block mensajes %}Ventas Norte {% endblock mensajes %}
{% block contenido %}
<a  id="cobraVenta" onclick="Cobrar()" href="#"><input type="button" value="Cobrar" class="btn btn-warning"></a>
<a  id="imprimeRecibo" onclick="ImprimirRecibo()" href="#"><input type="button" value="Imprimir" class="btn btn-success"></a>
<br/><br/><br/>
    <table id="tablaVentaPunto" class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Encargado</th>
            <th>Jornada</th>
            <th>Total Venta</th>
            <th>Restaurante</th>
            <th>Guardado</th>

        </tr>
        </thead>
            <td id="NumVenta">{{ venta.numeroVenta }}</td>
            <td>{{ venta.factura }}</td>
            <td>{{ venta.fechaVenta }}</td>
            <td>{{ venta.encargado }}</td>
            <td>{{ venta.jornada }}</td>
            <td id="totalVentaDet">{{ venta.TotalVenta }}</td>
            {% if venta.restaurante == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            {% if venta.guardado == True %}
                <td id="guardado">Si</td>
            {% else %}
                <td id="guardado">No</td>
            {% endif %}

    </table>
    <br/>
    <div id="recibo">
        <table id="encabezado">
            <tr><th>PORKILANDIA S.A.S.</th></tr>
            <tr><th>Nit: 900606687-6</th></tr>
            <tr><th>Regimen Comun</th></tr>
            <tr><th>Resolucion : 140000039353</th></tr>
            <tr><th>Rango:000000 hasta 999999</th></tr>
            <tr><th>Expedida el : 09-04-2013</th></tr>
            <tr><th>Cll 16 # 31-02 San andres</th></tr>
            <tr><th>Telefonos : 729 13 36 - 315 582 2270</th></tr>
            <tr><th style="font-size: 1.1em">__________________________________</th></tr>
            <tr><th style="text-align: left">Fecha : {{ Hora }}</th></tr>
            <tr><th style="text-align: left">Factura N°: {{ venta.factura }}</th></tr>
            <tr><th style="text-align: left">Encargado : {{ venta.encargado }}</th></tr>
            <tr><th style="font-size: 1.1em">__________________________________</th></tr>


        </table>
     <br/>
        <table id="tablaDetalleVentaPunto" class="table-striped" >

        <thead >
        <tr>

            <th>Producto</th>
            <th>Peso</th>
            <th>Und</th>
            <th>Vr.Unitario</th>
            <th>Vr.Total</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for detventa in detVentas %}
            <tr>
            <td>{{ detventa.productoVenta.nombreProducto }}</td>
            <td>{{ detventa.pesoVentaPunto|floatformat }}</td>
            <td>{{ detventa.unidades }}</td>
            <td>$ {{ detventa.vrUnitarioPunto }}</td>
            <td>$ {{ detventa.vrTotalPunto }}</td>
            {% if venta.guardado == True %}
                <td></td>
            {% else %}
                <td>
                <a href="{% url 'Ventas.views.EditaPuntoVenta' detventa.id %}">Editar</a>
                <a href="{% url 'Ventas.views.EliminaPuntoVenta' detventa.id %}" style="color: red">Borrar</a>
                </td>
            {% endif %}


        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
        <br/><br/>
    <div id="calculaVuelto">
        <label for="totalCompra">Total Venta</label><input id="totalCompra" type="text"/>
        <label for="efectivo">Efectivo</label><input id="efectivo" type="text"/>
        <label for="regreso">Regreso</label><input id="regreso" type="text"/>
    </div>
    <br/>
        <table id="pieRecibo">
                <tr>
                    <th>Total Compra:...................... $ {{ venta.TotalVenta }} </th>
                </tr>
                <tr>
                    <th id="efectivoImp" >Efectivo:......................  </th>
                </tr>
                <tr>
                    <th id="regresoImp" >Regreso:...................... </th>
                </tr>
                <tr>
                    <th >Total Gravado:...................... $ {{ totalGravado |floatformat }} </th>
                </tr>
                <tr>
                    <th>__________________________________</th>
                </tr>
                <tr>
                    <th>!! GRACIAS POR SU COMPRA !!</th>
                </tr>
                <tr>
                    <th style="font-size: 0.8em">Generado en PORKISOFT V.1.0</th>
                </tr>

            </table>
    </div>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="FrmVenta">
             <legend>Venta</legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-success" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}