    {% extends 'PuntoVentaNorte.html' %}

{% block titulo %}::Porkilandia::{% endblock titulo %}
{% block mensajes %}
        <div id="direccion">
        Dir: {{ venta.puntoVenta.direccionBodega }} Tel:{{ venta.puntoVenta.telefonoBodega }}
        </div>
{% endblock mensajes %}
{% block contenido %}
    <!--<input type="button"  value="Imprimir" class="btn btn-success">
    <input type="button" value="Cobrar" class="btn btn-warning">
    -->
<a id="imprimeRecibo" onclick="ImprimirRecibo()" href="#"><img src="{{ STATIC_URL }}img/printer1.png" alt="" /></a><br/>
<a  id="cobraVenta" onclick="Cobrar()" href="#"><img src="{{ STATIC_URL }}img/dinero.png" alt="" /></a>

    <div id="calculaVuelto">
        <label for="totalCompra">Total Venta</label><input id="totalCompra" type="text"/>
        <label for="efectivo">Efectivo</label><input id="efectivo" type="text"/>
        <label for="regreso">Regreso</label><input id="regreso" type="text"/>
    </div>

<br/><br/><br/><br/>
    <table id="tablaVentaPunto" class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Encargado</th>
            <th>Jornada</th>
            <th>Total Venta</th>
            <th>Total Gravado</th>
            <th>Guardado</th>

        </tr>
        </thead>
            <td id="NumVenta">{{ venta.numeroVenta }}</td>
            <td id="numFactura">{{ venta.factura }}</td>
            <td id="FechaVenta" >{{ venta.fechaVenta }}</td>
            <td id="NomEncargado">{{ venta.encargado }}</td>
            <td>{{ venta.jornada }}</td>
            <td id="totalVentaDet">{{ venta.TotalVenta }}</td>
            <td id="Totalgravado" >{{ totalGravado | floatformat }}</td>
            {% if venta.guardado == True %}
                <td id="guardado">Si</td>
            {% else %}
                <td id="guardado">No</td>
            {% endif %}

    </table>
    <br/>
    <div id="recibo">
    <div id="Cabecera"></div>

     <br/>
        <table id="tablaDetalleVentaPunto" class="table-striped" >

        <thead >
        <tr>

            <th>Producto</th>
            <th>Cantidad</th>
            <th>Vr.Unitario</th>
            <th>Vr.Total</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for detventa in detVentas %}
            <tr>
            <td>{{ detventa.productoVenta.nombreProducto }}</td>
            <td>{{ detventa.pesoVentaPunto|floatformat }}</td>
            <td>$ {{ detventa.vrUnitarioPunto }}</td>
            <td>$ {{ detventa.vrTotalPunto }}</td>
            {% if venta.guardado == True %}
                <td></td>
            {% else %}
                <td>
                <a href="{% url 'Ventas.views.EditaPuntoVenta' detventa.id %}">Editar</a>
                <a href="{% url 'Ventas.views.EliminaPuntoVenta' detventa.id %}" style="color: red">Borrar</a>
                </td>
            {% endif %}


        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
        <br/><br/>

    <br/>
    <div id="piePagina"></div>

    </div>

    <form id="FormularioVentaPunto" method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="FrmVenta">
             <legend>Venta</legend>
             <label for="id_productoVenta">Productos</label><select id="id_productoVenta" name="ProductoVentaPunto">
                 {% for lista in ListadoPrecios %}
                     <option value="{{ lista.productoLista.codigoProducto }}">{{ lista.productoLista.numeroProducto }} --{{ lista.productoLista.nombreProducto }}</option>
                {% endfor %}
             </select>

                 {{ formulario }}

              <br/>
          <input class="btn btn-success" value="Al Listado" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}