{% extends 'PuntoVentaNorte.html' %}

{% block titulo %}::Listas De Ventas::{% endblock titulo %}
{% block mensajes %}Usuario actual : {{ user.username }}{% endblock mensajes %}
{% block contenido %}

<br/><br/><br/>
    <table id="TablaPuntoNorte" class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>No. Factura</th>
            <th>Fecha</th>
            <th>Encargado</th>
            <th>Jornada</th>
            <th>Total Venta</th>
            <th>Restaurante</th>
            <th>Guardado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for venta in ventas %}
            {% if venta.guardado == True %}
                <tr style="color: green">
            {% else %}
                 <tr style="color: red">
            {% endif %}

            <td>{{ venta.numeroVenta }}</td>
            <td>{{ venta.factura }}</td>
            <td>{{ venta.fechaVenta }}</td>
            <td>{{ venta.encargado }}</td>
            <td>{{ venta.jornada }}</td>
            <td>{{ venta.TotalVenta }}</td>
            {% if venta.restaurante == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            {% if venta.guardado == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td>
                <a href="{% url 'Ventas.views.DetallePuntoVenta' venta.numeroVenta %}">Ingresar Productos</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="FrmVentaPunto">
             <legend>Venta</legend>
                  {{ formulario }}
              <br/>

          <input class="btn btn-success" value="Crear Factura" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}