{% extends 'base.html' %}

{% block titulo %}::Devoluciones ::{% endblock titulo %}
{% block mensajes %}Devoluciones Norte {% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<br/><br/><br/>
    <table class="table-striped" >

        <thead >
        <tr>
            <th>Fecha</th>
            <th>Encargado</th>
            <th>Observacion</th>
            <th>Guardado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for devolucion in devoluciones %}
            <tr>
            <td>{{ devolucion.fechaDevolucion }}</td>
            <td>{{ devolucion.encargado }}</td>
            <td>{{ devolucion.observacion }}</td>
            {% if devolucion.guardado == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}

            <td>
                <a href="{% url 'Ventas.views.GestionDetalleDevolucion' devolucion.id %}">Detalle</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Caja<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}