{% extends 'PuntoVentaNorte.html' %}

{% block titulo %}::Listas De Ventas::{% endblock titulo %}
{% block mensajes %}Ventas Norte {% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<br/><br/><br/>
    <table class="table-striped" >

        <thead >
        <tr>
            <th>Codigo</th>
            <th>No. Factura</th>
            <th>Fecha</th>
            <th>Encargado</th>
            <th>Jornada</th>
            <th>Total Venta</th>
            <th>Restaurante</th>
            <th>Guardado</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for venta in ventas %}
            {% if venta.guardado == True %}
                <tr style="color: green">
            {% else %}
                 <tr style="color: red">
            {% endif %}

            <td>{{ venta.numeroVenta }}</td>
            <td>{{ venta.factura }}</td>
            <td>{{ venta.fechaVenta }}</td>
            <td>{{ venta.encargado }}</td>
            <td>{{ venta.jornada }}</td>
            <td>{{ venta.TotalVenta }}</td>
            {% if venta.restaurante == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            {% if venta.guardado == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td>
                <a href="{% url 'Ventas.views.DetallePuntoVenta' venta.numeroVenta %}">Detalles</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="FrmVentaPunto">
             <legend>Venta<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
          <input class="btn btn-default" value="Guardar" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}