{% extends 'base.html' %}

{% block titulo %}Reporte Compras{% endblock titulo %}
{% block mensajes %}
    Reporte Compras
{% endblock mensajes %}
{% block contenido %}
<div id="rangoCompras">
     <label for="inicio">Fecha Inicio</label><input id="inicio" type="text">
     <label for="fin">Fecha Final</label><input id="fin" type="text">
     <label for="bodega">Bodega</label><select id="bodega">
        {% for bod in bodega %}
            <option value={{ bod.codigoBodega }}>{{ bod.nombreBodega }}</option>
        {% endfor %}
    </select>
    <label for="provedor">Proveedor</label><select id="provedor">
        {% for prov in provedor %}
            <option value={{ prov.codigoProveedor }}>{{ prov.nombreProv }}</option>
        {% endfor %}
    </select>

     <a  onclick="consultaCompras()" href="#"><input type="button" value="Consultar"></a>
        <br/>
        <br/>
        <br/>
   </div>
    <table id="tablaReporteCompra" class="table-striped">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th>Bodega</th>
            <th>Cantidad</th>
            <th>Vr. Compra</th>

        </tr>
        </thead>

    </table>


{% endblock contenido %}