{% extends 'base.html' %}

{% block titulo %}Bodegas{% endblock titulo %}
{% block contenido %}

    <h2>Listado Compras</h2>
    <table id="tablaCompras" class="tabla" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Encargado</th>
            <th>Proveedor</th>
            <th>Fecha Compra</th>
            <th>Vr. Compra</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.codigoCompra }}</td>
            <td>{{ compra.encargado }}</td>
            <td>{{ compra.proveedor }}</td>
            <td>{{ compra.fechaCompra }}</td>
            <td>{{ compra.vrCompra }}</td>

            <td>
                <a href="{% url 'Inventario.views.GestionDetalleCompra' compra.codigoCompra %}"><img src="{{ STATIC_URL }}img/adicionar.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="#" id="borrador"><img src="{{ STATIC_URL }}img/borrar.png"></a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-actions">{% csrf_token %}
         <fieldset id="compras">
             <legend>Proveedor</legend>
              <div>
                  {{ formulario }}
              </div>
              <br/>
          <fieldset style="text-align: center">
              <legend>Acciones</legend>
             <input type="image" src="{{ STATIC_URL }}img/save.png" width="30" height="30" border="0" alt="Guardar">
              <a href="#"><img src="{{ STATIC_URL }}img/operario.png"></a>
              <a href="{% url 'Inventario.views.GestionProvedor' %}"><img src="{{ STATIC_URL }}img/provedor.png"></a>
          </fieldset>


         </fieldset>
     </form>
{% endblock contenido %}
