{% extends plantilla %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block mensajes %}
    {% if exito %}
             El Producto : {{ cantidadActual.producto.nombreProducto }},
        solo tiene {{ cantidadActual.pesoProductoStock|floatformat }} grs
    {% else %}
        Detalles de traslado{{ traslado.codigoTraslado }}, Encargado :  {{ traslado.empleado }}
    {% endif %}
{% endblock mensajes %}

{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
<a id="Guardatraslado" href="#"><input type="button" value="Aplicar Traslado" class="btn btn-danger"></a>

    <br/><br/><br/>
     <table  class="table-striped">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Responsable</th>
            <th>Fecha de Traslado</th>
            <th>Estado</th>
            <th>Guardado</th>



        </tr>
        </thead>
        <tbody>

            <tr>
            <td id="codigoTraslado">{{ traslado.codigoTraslado }}</td>
            <td >{{ traslado.bodegaActual }}</td>
            <td >{{ traslado.bodegaDestino }}</td>
            <td>{{ traslado.empleado }}</td>
            <td>{{ traslado.fechaTraslado }}</td>
            <td>{{ traslado.estadoTraslado }}</td>
            {% if traslado.guardado == True %}
                <td id="TrasladoGuardado">Si</td>
            {% else %}
                <td id="TrasladoGuardado">No</td>
            {% endif %}

        </tr>
        </tbody>

     </table>

     <table id="detalleSP" class="table-striped">
        <thead>
        <tr>
            <th>Producto</th>
            <th>grupo</th>
            <th>Peso</th>
            <th>Unidades</th>
            <th>Peso envio</th>
            <th>Peso Llegada</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
            {% for detraslado in detraslados %}
        <tr>
            <td>{{ detraslado.productoTraslado.nombreProducto }}</td>
            <td>{{ detraslado.productoTraslado.grupo }}</td>
            <td>{{ detraslado.pesoTraslado }}</td>
            <td>{{ detraslado.unidadesTraslado }}</td>
            <td>{{ detraslado.pesoEnvio }}</td>
            <td>{{ detraslado.pesoLlegada }}</td>
            <td>
                <a href="{% url 'Inventario.views.EditaDetalleTraslado' detraslado.id %}">Modificar</a>
                <a href="{% url 'Inventario.views.borrarDetTraslado' detraslado.id %}">borrar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>
            {% endfor %}

        </tbody>
        <tr>

            <th colspan="8"></th>

        </tr>

      </table>


    <form method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Detalle Traslado  <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
              <div>
                  {{ formulario }}
              </div>
              <br/><br/>
          <legend>Acciones</legend>
          <input type="submit" value="Guardar" class="btn btn-primary">
          <a href="/traslado/"><input type="button" class="btn btn-default" value="Volver"> </a>
         </fieldset>
     </form>

{% endblock contenido %}
