{% extends 'base.html' %}

{% block titulo %}Movimientos{% endblock titulo %}
{% block mensajes %}
    Listado de Movimientos

{% endblock mensajes %}
{% block contenido %}

       <table id="tablaMovimientos" class="table-striped" >

        <thead>
        <tr>
            <th>Tipo</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
        </thead>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.tipo }}</td>
            <td>{{ movimiento.desde }}</td>
            <td>{{ movimiento.Hasta }}</td>
            <td>{{ movimiento.productoMov }}</td>
            <td>{{ movimiento.fechaMov }}</td>
            <td>{{ movimiento.entrada|floatformat }}</td>
            <td>{{ movimiento.salida |floatformat}}</td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

{% endblock contenido %}
