{% extends 'base.html' %}

{% block titulo %}Productos{% endblock titulo %}
{% block mensajes %}
    Listado de Productos

{% endblock mensajes %}
{% block contenido %}

<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <table id="tablaProductos" class="table-striped">

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Costo Kg</th>
            <th>Vr. Venta</th>
            <th>calidad</th>
            <th>Utilidad</th>
            <th>Rent.</th>

           <th>Grupo</th>
           <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigoProducto }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>$ {{ producto.costoProducto }}</td>
            <td>$ {{ producto.vrVentaProducto }}</td>
            <td>{{ producto.porcentajeCalidad }}%</td>
            <td>{{ producto.utilidadProducto }}</td>
            <td>{{ producto.rentabilidadProducto }}</td>


           <td>{{ producto.grupo }}</td>

            <td style="text-align: center">
                <a href="{% url 'Inventario.views.editar_producto' producto.codigoProducto %}"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="{% url 'Inventario.views.GestionProductoBodega' producto.codigoProducto %}" id="borrador"><img src="{{ STATIC_URL }}img/ver.png"></a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="12">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </tbody>
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Nuevo Producto <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
