{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block mensajes %}
    Detalle de la compra {{ compra.codigoCompra }} del {{ compra.fechaCompra }}

{% endblock mensajes %}
{% block contenido %}
    <a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>

    <table class="table-striped">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Encargado</th>
            <th>Proveedor</th>
            <th>Fecha Compra</th>
            <th>Vr. Compra</th>



        </tr>
        </thead>
        <tbody>

            <tr>
            <td>{{ compra.codigoCompra }}</td>
            <td>{{ compra.encargado }}</td>
            <td>{{ compra.proveedor }}</td>
            <td>{{ compra.fechaCompra }}</td>
            <td>$ {{ compra.vrCompra }}</td>

        </tr>
        </tbody>

     </table>

    <table class="table-striped">
        <thead>
        <tr>

            <th>Producto</th>
            <th>Ganado</th>
            <th>Peso Producto</th>
            <th>Peso Desc.</th>
            <th>Unidades</th>
            <th>Vr.Kilo/und</th>
            <th>Vr.Kilo/und Desc</th>
            <th>Vr.Factura</th>
            <th>Estado</th>

        </tr>
       </thead>
        <tbody>
            {% for detcompra in detcompras %}
                {% if detcompra.estado == False %}
                    <tr style="color: red">
                {% else %}
                    <tr style="color: green">
                {% endif %}

            {% if detcompra.producto == null %}<td>N/A</td>{% else %}<td>{{ detcompra.producto }}</td>{% endif %}
            {% if detcompra.ganado == null %}<td>N/A</td>{% else %}<td>{{ detcompra.ganado }}</td>{% endif %}
            <td>{{ detcompra.pesoProducto |floatformat }} grs</td>
            <td>{{ detcompra.pesoDescongelado |floatformat }} grs</td>
            <td>{{ detcompra.unidades }}</td>
            <td>$ {{ detcompra.vrCompraProducto }}</td>
            <td>$ {{ detcompra.vrKiloDescongelado }}</td>
            <td>$ {{ detcompra.subtotal }}</td>
            {% if compra.tipo.nombreGrupo == 'Verduras' %}
                {% if detcompra.estado == False %}
                    <td><a href="{% url 'Fabricacion.views.GestionVerduras' detcompra.id %}">Pendiete</a></td>
                {% else %}
                    <td><a href="{% url 'Fabricacion.views.GestionVerduras' detcompra.id %}">Ver Detalles</a></td>
                {% endif %}
            {% endif %}
            {% if compra.tipo.nombreGrupo == 'Pollos' %}
                {% if detcompra.estado == False %}
                    <td><a href="{% url 'Inventario.views.EditaCompra' detcompra.id %}">Pendiente</a></td>
                {% else %}
                    <td>Actualizado</td>
                {% endif %}
            {% endif %}

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>
            {% endfor %}
        <tr>
            <th colspan="5">Total Factura</th>
            <th>$ {{ totalCompra  }}</th>
            <th colspan="7"></th>
        </tr>

        </tbody>


      </table>



    <form method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Detalle compra <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/>
             <br/>
                <legend>Acciones</legend>
                 <input type="submit" value="Guardar" class="btn btn-primary">
                 <a href="{% url 'Inventario.views.GestionGanado' compra.codigoCompra %}"><input type="button" value="Ganado" class="btn btn-success"></a>
                 <a href="{% url 'Inventario.views.GestionCompra'%}"><input type="button" value="Volver" class="btn btn-default "></a>

          </fieldset>
     </form>



{% endblock contenido %}
