{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block contenido %}

    <table  class="table-striped" >

        <thead>
        <tr>

            <th>Vr. Piel</th>
            <th>Vr. Menudo</th>
            <th>Vr. Deguello</th>
            <th>Vr. Trasporte</th>
            <th>Cant Reses Sacrif.</th>


        </tr>
        </thead>
        <tr>

            <td>{{ sacrificio.vrPiel }}</td>
            <td>{{ sacrificio.vrMenudo }}</td>
            <td>{{ sacrificio.vrDeguello }}</td>
            <td>{{ sacrificio.vrTransporte }}</td>
            <td>{{ sacrificio.cantReses }}</td>


        </tr>
    </table>
<br/>
    <table  class="table-striped">
        <thead>
        <tr>
            <th>.......</th>
            <th>Tipo Piel</th>
            <th>Peso Cola</th>
            <th>Peso Creadillas</th>
            <th>Peso Recortes</th>
            <th>Peso Riñones</th>
            <th>Peso Tolay</th>
            <th>Peso Desecho</th>




        </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}

        <tr>
            <th>Totales</th>
            <th>{{ detalle.piel }}</th>
            <th>{{ detalle.cola }}</th>
            <th>{{ detalle.creadillas }}</th>
            <th>{{ detalle.recortes }}</th>
            <th>{{ detalle.rinones }}</th>
            <th>{{ detalle.tolay }}</th>
            <th>{{ detalle.desecho }}</th>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>
            {% endfor %}

        </tbody>


      </table>

    <form class="form-horizontal" method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Detalle Sacrificio</legend>

                  {{ formulario }}

              <br/> <br/>
          <legend>Acciones</legend>
          <input type="submit" value="Guardar" class="btn btn-primary">
          <a href="/canal/{{ ganado }}"><input type="button" class="btn btn-default" value="Canal"></a>
         </fieldset>
     </form>

{% endblock contenido %}
