{% extends 'base.html' %}

{% block titulo %}Bodegas{% endblock titulo %}
{% block contenido %}

    <h2>Productos Por bodega</h2>
    <table id="tablabodegas" class="table-striped" >

        <thead>
        <tr>
            <th>Producto</th>
            <th>Bodega</th>
            <th>Peso en Stock (Kg)</th>
            <th>Peso en Stock (grs)</th>
            <th>Unidades en stock</th>

        </tr>
        </thead>
        {% for productobodega in productoBodegas %}
            {% if productobodega.pesoProductoKilos <= 5 %}<tr style="background: indianred">{% else %}<tr>{% endif %}
            <td>{{ productobodega.producto}}</td>
            <td>{{ productobodega.bodega }}</td>
            <td>{{ productobodega.pesoProductoKilos}}</td>
            <td>{{ productobodega.pesoProductoStock }}</td>
            <td>{{ productobodega.unidadesStock }}</td>

            <td>
                <a href="/compra/"><img src="{{ STATIC_URL }}img/pedido.png"></a>
                {% if productobodega.pesoProductoKilos <= 5 %}{% else %}<a href="/traslado/"><img src="{{ STATIC_URL }}img/traslado.png"></a>{% endif %}

            </td>

        </tr>

            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>


        {% endfor %}

    </table>

{% endblock contenido %}
