{% extends 'base.html' %}

{% block titulo %}Sacrificios{% endblock titulo %}
{% block contenido %}

    <h2>Sacrificios</h2>
    <table id="tablaProductos" class="table-striped" >

        <thead>
        <tr>


            <th>Fecha Sacrificio</th>
            <th>Vr. Menudo</th>
            <th>Vr. Deguello</th>
            <th>Vr. Trasporte</th>
            <th> Piel</th>
            <th> Cola</th>
            <th> Creadillas</th>
            <th> Recortes</th>
            <th> Riñones</th>
            <th> Desecho</th>


        </tr>
        </thead>
        {% for sacrificio in sacrificios %}
        <tr>


            <td>{{ sacrificio.fechaSacrificio }}</td>
            <td>${{ sacrificio.vrMenudo }}</td>
            <td>${{ sacrificio.vrDeguello }}</td>
            <td>${{ sacrificio.vrTransporte }}</td>
            <td>${{ sacrificio.piel }}</td>
            <td>{{ sacrificio.cola| floatformat }}gr</td>
            <td>{{ sacrificio.creadillas| floatformat }}gr</td>
            <td>{{ sacrificio.recortes| floatformat }}gr</td>
            <td>{{ sacrificio.rinones| floatformat }}gr</td>
            <td>{{ sacrificio.desecho| floatformat }}gr</td>


        </tr>
            {% empty %}
            <tr>
                <td colspan="12">
                   Ningun Registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Sacrificio</legend>
             {{ formSacrificio }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">

         </fieldset>
    </form>

{% endblock contenido %}
