{% extends plantilla %}

{% block titulo %}Compras{% endblock titulo %}
{% block mensajes %}
    Listado de Compras
{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>

    <table id="tablaCompras" class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Tipo</th>
            <th>Bodega</th>
            <th>Encargado</th>
            <th>Proveedor</th>
            <th>Fecha Compra</th>
            <th>Transporte</th>
            <th>Vr. Compra</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.codigoCompra }}</td>
            <td>{{ compra.tipo }}</td>
            <td>{{ compra.bodegaCompra }}</td>
            <td>{{ compra.encargado }}</td>
            <td>{{ compra.proveedor }}</td>
            <td>{{ compra.fechaCompra }}</td>
            <td>{{ compra.vrTransporte }}</td>
            <td>${{ compra.vrCompra }}</td>

            <td style="font-weight: bold; text-align: center">
                {% if compra.tipo.nombreGrupo == 'Cerdos' or compra.tipo.nombreGrupo == 'Cerdas' %}
                    <a href="{% url 'Inventario.views.GestionPlanillaRecepcion' compra.codigoCompra %}">Recepcion</a>
                    <a href="{% url 'Inventario.views.ModificaCompra' compra.codigoCompra %}">Editar</a>
                    <a href="{% url 'Inventario.views.borrarCompra' compra.codigoCompra %}">Borrar</a>
                {% elif compra.tipo.nombreGrupo == 'Reses' %}
                    <a href="{% url 'Inventario.views.GestionDetalleCompra' compra.codigoCompra %}">Compras</a>
                    <a href="{% url 'Inventario.views.GestionPlanillaRecepcion' compra.codigoCompra %}">Recepcion</a>
                    <a href="{% url 'Inventario.views.ModificaCompra' compra.codigoCompra %}">Editar</a>
                    <a href="{% url 'Inventario.views.borrarCompra' compra.codigoCompra %}">Borrar</a>
                {% else %}
                    <a href="{% url 'Inventario.views.GestionDetalleCompra' compra.codigoCompra %}">Compras</a>
                    <a href="{% url 'Inventario.views.ModificaCompra' compra.codigoCompra %}">Editar</a>
                    <a href="{% url 'Inventario.views.borrarCompra' compra.codigoCompra %}">Borrar</a>
                {% endif %}

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="compras">
             <legend>Compras   <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
                 {{ formulario }}

              <br/><br/>

              <legend>Acciones</legend>
             <input type="submit" value="Guardar" class="btn btn-primary">

         </fieldset>
     </form>
{% endblock contenido %}
