{% extends 'base.html' %}

{% block titulo %}Bodegas{% endblock titulo %}
{% block contenido %}

    <h2>Recepcion de Ganado</h2>
    <table id="tablaCompras" class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Encargado</th>
            <th>Tipo Ganado</th>
            <th>Fecha Recepcion</th>
            <th>Cant. Cabezas</th>
            <th>Proveedor</th>
            <th>Transporte</th>
            <th>Acciones</th>


        </tr>
        </thead>
        {% for recepcion in recepciones %}
        <tr>
            <td>{{ recepcion.codigoRecepcion }}</td>
            <td>{{ recepcion.empleado }}</td>
            <td>{{ recepcion.tipoGanado }}</td>
            <td>{{ recepcion.fechaRecepcion }}</td>
            <td>{{ recepcion.cantCabezas }}</td>
            <td>{{ recepcion.provedor }}</td>
            <td>{{ recepcion.transporte }}</td>


            <td style="font-weight: bold ; text-align: center">
                <a href="{% url 'Inventario.views.GestionCanal' recepcion.codigoRecepcion %}">Canal</a>
                <a href="{% url 'Inventario.views.GestionSacrificio' recepcion.codigoRecepcion %}">Sacrificio</a>



            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun Registro para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="compras">
             <legend>Recepciones</legend>
                 {{ formulario }}
              <br/><br/>

              <legend>Acciones</legend>
             <input type="submit" value="Guardar" class="btn btn-default">
             <a href="#"><input type="button" value="Porvedor" class="btn btn-default"></a>
             <a href="#"><input type="button" value="Empleado" class="btn btn-default"></a>

         </fieldset>
     </form>
{% endblock contenido %}
