{% extends plantilla %}

{% block titulo %}Traslados{% endblock titulo %}
{% block mensajes %}
    Traslados

{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <table id="tablaTraslados" class="table-striped">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Fecha Traslado</th>
            <th>Estado Traslado</th>
            <th>Descripcion</th>
            <th>Guardado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for traslado in traslados %}
        <tr>
            <td>{{ traslado.codigoTraslado }}</td>
            <td>{{ traslado.bodegaActual }}</td>
            <td>{{ traslado.bodegaDestino }}</td>
            <td>{{ traslado.fechaTraslado }}</td>
            <td>{{ traslado.estadoTraslado }}</td>
            <td>{{ traslado.descripcionTraslado }}</td>
            {% if traslado.guardado == True %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}

            <td>
                <a href="{% url 'Inventario.views.GestionDetalleTraslado' traslado.codigoTraslado %}">Detalle</a>
                <a href="{% url 'Inventario.views.EditaTraslados' traslado.codigoTraslado %}">Modificar</a>
                <a href="{% url 'Inventario.views.borrarTraslado' traslado.codigoTraslado %}">Borrar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="8">
                   Ningun Registro para mostrar
                </td>
            </tr>

        {% endfor %}


    </table>
    <form class="form-horizontal" method="post">{% csrf_token %}
         <fieldset id="agregarSubproducto">
             <legend>
                 Traslado
                 <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/>
             </a></legend>

                  {{ formulario }}

              <br/><br/>
          <legend>Acciones</legend>
          <input value="Guardar" type="submit" class="btn btn-primary">
         </fieldset>
     </form>

{% endblock contenido %}