{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock titulo %}
{% block contenido %}

     <table class="tabla">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Encargado</th>
            <th>Proveedor</th>
            <th>Fecha Compra</th>
            <th>Vr. Compra</th>
            <th>Acciones</th>


        </tr>
        </thead>
        <tbody>

            <tr>
            <td>{{ compra.codigoCompra }}</td>
            <td>{{ compra.encargado }}</td>
            <td>{{ compra.proveedor }}</td>
            <td>{{ compra.fechaCompra }}</td>
            <td>{{ compra.vrCompra }}</td>

        </tr>
        </tbody>

     </table>

     <table class="tabla">
        <thead>
        <tr>

            <th>Producto</th>
            <th>Ganado</th>
            <th>Peso Producto</th>
            <th>Unidades</th>
            <th>Vr. Compra</th>
            <th>Subtotal</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for detcompra in detcompras %}
        <tr>

            {% if detcompra.producto == null %}<td>N/A</td>{% else %}<td>{{ detcompra.producto }}</td>{% endif %}
            {% if detcompra.ganado == null %}<td>N/A</td>{% else %}<td>{{ detcompra.ganado }}</td>{% endif %}
            <td>{{ detcompra.pesoProducto }}</td>
            <td>{{ detcompra.unidades }}</td>
            <td>{{ detcompra.vrCompraProducto }}</td>
            <td>{{ detcompra.subtotal }}</td>
            {% if detcompra.estado == False %}<td>Pendiete</td>{% else %}<td>Despostado</td>{% endif %}



            <td>
                {% if detcompra.ganado %}
                    <a href="{% url 'Inventario.views.GestionCanal' detcompra.ganado %}"><img src="{{ STATIC_URL }}img/carne.png"></a>
                {% else %}
                    <a href="#"><img src="{{ STATIC_URL }}img/traslado.png"></a>
                {% endif %}
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>
            {% endfor %}
        <tr>
            <th colspan="5">Total Factura</th>
            <th>{{ totalCompra  }}</th>
        </tr>

        </tbody>


      </table>

    <form method="post">{% csrf_token %}
         <fieldset id="agregarDetalle">
             <legend>Detalle Sub Producto</legend>
              <div>
                  {{ formulario }}
              </div>
              <br/>
              <fieldset style="text-align: center">
                <legend>Acciones</legend>
                 <input type="image" src="{{ STATIC_URL }}img/save.png" width="30" height="30" border="0" alt="Guardar">
                 <a href="{% url 'Inventario.views.GestionGanado' compra.codigoCompra %}"><img src="{{ STATIC_URL }}img/vaca.png"></a>
             </fieldset>
          </fieldset>
     </form>

{% endblock contenido %}
