{% extends 'base.html' %}

{% block titulo %}Desposte{% endblock titulo %}
{% block mensajes %}Desposte Detallado{% endblock mensajes %}
{% block contenido %}

<table class="table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Reses a Depostar</th>
            <th>Total Despostado(grs)</th>
            <th>Total Canal(grs)</th>
            <th>Dif Canal/desp</th>
            <th>Total Produccion(grs)</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ desposte.codigoPlanilla }}</td>
            <td>{{ desposte.fechaDesposte }}</td>
            <td>{{ desposte.resesADespostar }}</td>
            <td>{{ desposte.totalDespostado|floatformat }} grs</td>
            <td>{{ desposte.totalCanal|floatformat }} grs</td>
            <td>{{ desposte.difCanalADespostado |floatformat }} grs</td>
            <td>{{ desposte.costoProduccionTotal|floatformat }}</td>


        </tr>

    </tbody>
</table>
    <br/>
<table  class="table-striped">
        <thead>

        <tr>

            <th>Planilla</th>
            <th>Peso Frigovito</th>
            <th>Peso Porkilandia</th>
            <th>Dif. de pesos</th>
            <th>Vr. Kilo Canal</th>
            <th>Vr. Arroba Canal</th>


        </tr>
        </thead>
        <tbody>
          {% for cnl in canales %}
        <tr>

            <td>{{ cnl.planilla }}</td>
            <td>{{ cnl.pesoFrigovito | floatformat }} Kg</td>
            <td>{{ cnl.pesoPorkilandia | floatformat }} Kg</td>
            <td>{{ cnl.difPesos | floatformat }} Kg</td>
            <td>$ {{ cnl.vrKiloCanal }}</td>
            <td>$ {{ cnl.vrArrobaCanal }}</td>


        </tr>

        {% empty %}
            <tr>
                <td colspan="7">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
        <tr>
        <th colspan="2">Total Canal</th>
        <th>{{ totalCanal|floatformat }}grs</th>
    </tr>

        </tbody>


      </table>
    <br/>
<table class="table-striped">
    <thead>
        <tr>
            <th>Planilla</th>
            <th>Producto</th>
            <th>Peso Producto</th>


        </tr>
    </thead>
    <tbody>
        {% for detalleDesposte in detalleDespostes %}
        <tr>
            <td>{{ detalleDesposte.planilla }}</td>
            <td>{{ detalleDesposte.producto }}</td>
            <td>{{ detalleDesposte.PesoProducto | floatformat }} grs</td>


        </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

    <tr>
        <th colspan="2">Total Desposte</th>
        <th>{{ totalDesposte|floatformat }}grs</th>
    </tr>
    </tbody>
</table>


    <form method="post">{% csrf_token %}
         <fieldset id="desposte">
             <legend>Detalle</legend>
              <div>
                  {{ formulario }}
              </div>
              <br/><br/>
              <legend>Acciones</legend>
             <input type="submit" value="Guardar" class="btn btn-primary">
             <a href="/costoDesposte/{{ idplanilla }}"><input type="button" value="Costear" class="btn btn-default"></a>

         </fieldset>
     </form>

{% endblock contenido %}