{% extends 'base.html' %}

{% block titulo %}Sub Productos{% endblock titulo %}
{% block contenido %}
    <h2>Sub Productos</h2>
    <table id="ListaSubp" class="tabla">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Vr. Venta</th>
            <th>Gravado</th>
            <th>Excento</th>
            <th>Excluido</th>
            <th>Utilidad</th>
            <th>Rentabilidad</th>
            <th>Refrigerado</th>
            <th>Congelado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for subproducto in subproductos %}
        <tr>
            <td>{{ subproducto.codigoSubProducto }}</td>
            <td>{{ subproducto.nombreSubProducto }}</td>
            <td>{{ subproducto.costoSubProducto }}</td>
            <td>{{ subproducto.vrVentaSubProducto }}</td>
            <td>{{ subproducto.gravado }}</td>
            <td>{{ subproducto.excento }}</td>
            <td>{{ subproducto.excluido }}</td>
            <td>{{ subproducto.utilidadSubProducto }}</td>
            <td>{{ subproducto.rentabilidadSubProducto }}</td>
            <td>{{ subproducto.refrigerado }}</td>
            <td>{{ subproducto.congelado }}</td>
            <td>
                <a href="{% url 'Inventario.views.AgregarDetSubProducto' subproducto.codigoSubProducto %}"><img src="{{ STATIC_URL }}img/adicionar.png"></a>
                <a href="{% url 'Inventario.views.editarSubproducto' subproducto.codigoSubProducto %}"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="{% url 'Inventario.views.borrarSubproducto' subproducto.codigoSubProducto %}"><img src="{{ STATIC_URL }}img/borrar.png"></a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="13">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}

       
    </table>
    <form method="post">{% csrf_token %}
         <fieldset id="agregarSubproducto">
             <legend>Nuevo Sub Producto</legend>
              <div>
                  {{ formulario }}
              </div>
              <br/>
          <input type="submit" class="btn btn-primary">
         </fieldset>
     </form>

{% endblock contenido %}

