{% extends 'base.html' %}

{% block titulo %}Bodegas{% endblock titulo %}
{% block mensajes %}Inventario de {{ producto.nombreProducto }}{% endblock mensajes %}
{% block contenido %}

    <table  class="table" style="width: 100%">

        <thead>
        <tr>

            <th>Bodega</th>
            <th>Peso en producto (Kg)</th>
            <th>Peso en Stock (grs)</th>
            <th>Unidades en stock</th>

        </tr>
        </thead>
        {% for productobodega in productoBodegas %}
            {% if productobodega.pesoProductoStock < 5000 %}
            <tr style="background: indianred">
            {% else %}
            <tr>
            {% endif %}

            <td>{{ productobodega.bodega }}</td>
            <td >{{ productobodega.pesoProductoKilos|floatformat}} Kg</td>
            <td style="font-weight: bold">{{ productobodega.pesoProductoStock|floatformat}} grs</td>
            <td>{{ productobodega.unidadesStock }}</td>
             {% if productobodega.bodega.nombreBodega == 'Planta Procesos' %}
                {% if productobodega.producto.grupo.nombreGrupo == 'Cerdos' or  productobodega.producto.grupo.nombreGrupo == 'Cerdas'%}
                <td>
                    <a href="{% url 'Inventario.views.GestionEnsalinado' productobodega.producto.codigoProducto %}">Ensalinado</a>
                </td>
                {% endif %}
                {% if productobodega.producto.nombreProducto == 'Pierna Ensalinada' %}
                    <td>
                    <a href="{% url 'Inventario.views.GestionCondTajado' productobodega.id %}">Condimentado</a>
                    </td>
                {% endif %}
            {% endif %}

        </tr>

            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>


        {% endfor %}

    </table>

{% endblock contenido %}
