{% extends 'base.html' %}

{% block titulo %}Productos{% endblock titulo %}
{% block contenido %}

    <h2>Listado de Productos</h2>
    <table id="tablaProductos" class="table-striped" >

        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Vr. Venta</th>
            <th>Utilidad</th>
            <th>Rent.</th>
           <th>Gravado</th>
           <th>Excento</th>
           <th>Excluido</th>
           <th>Grupo</th>
           <th>Acciones</th>
        </tr>
        </thead>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigoProducto }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.costoProducto }}</td>
            <td>{{ producto.vrVentaProducto }}</td>
            <td>{{ producto.utilidadProducto }}</td>
            <td>{{ producto.rentabilidadProducto }}</td>

            {% if producto.gravado %}<td><img src="{{ STATIC_URL }}img/ok.jpg"></td>{% else %}<td><img src="{{ STATIC_URL }}img/no.png"></td>{% endif %}
            {% if producto.excento %}<td><img src="{{ STATIC_URL }}img/ok.jpg"></td>{% else %}<td><img src="{{ STATIC_URL }}img/no.png"></td>{% endif %}
            {% if producto.excluido %}<td><img src="{{ STATIC_URL }}img/ok.jpg"></td>{% else %}<td><img src="{{ STATIC_URL }}img/no.png"></td>{% endif %}
           <td>{{ producto.grupo }}</td>

            <td>
                <a href="{% url 'Inventario.views.editar_producto' producto.codigoProducto %}"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="{% url 'Inventario.views.borrar_producto' producto.codigoProducto %}" id="borrador"><img src="{{ STATIC_URL }}img/borrar.png"></a>
                <a href="{% url 'Inventario.views.GestionProductoBodega' producto.codigoProducto %}" id="borrador"><img src="{{ STATIC_URL }}img/ver.png"></a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="12">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>

    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarProducto">
             <legend>Nuevo Producto</legend>
             {{ formulario }}
             <br/><br/>
             <legend>Acciones</legend>
             <input class="btn btn-primary" value="Guardar" type="submit">
         </fieldset>
    </form>

{% endblock contenido %}
