{% extends 'base.html' %}

{% block titulo %}:: Ajustes ::{% endblock titulo %}
{% block mensajes %}
    Ajustes de Inventario

{% endblock mensajes %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/>
    <br/>
    <table id="tablaAjustes" class="table-striped" >

        <thead>
        <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Bodega</th>
            <th>Peso</th>
            <th>Observacion</th>
            <th>Guardado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {% for ajuste in ajustes %}
        {% if ajuste.guardado == False %}
            <tr style="color: red">
        {% else %}
            <tr style="color: green">
        {% endif %}

            <td>{{ ajuste.fechaAjuste }}</td>
            <td>{{ ajuste.productoAjuste }}</td>
            <td>{{ ajuste.bodegaAjuste }}</td>
            <td>{{ ajuste.pesoAjuste }}</td>
            <td>{{ ajuste.observacion }}</td>
            <td>
                <a href="#"><img src="{{ STATIC_URL }}img/modificar.png"></a>
                <a href="#" id="borrador"><img src="{{ STATIC_URL }}img/borrar.png"></a>

            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="9">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-horizontal">{% csrf_token %}
         <fieldset id="agregarBodega">
             <legend>Ganado <a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>

                  {{ formulario }}

              <br/><br/>

             <legend>Acciones</legend>
             <input type="submit" class="btn btn-primary"  value="Guardar">
             <a href="/inventario/compra/"><input type="button" class="btn btn-default" value="Volver"></a>

         </fieldset>
     </form>
{% endblock contenido %}
