{% extends 'base.html' %}

{% block titulo %}Reporte Compras{% endblock titulo %}
{% block mensajes %}
    Reporte Compras
{% endblock mensajes %}
{% block contenido %}
<div id="rangoCompras">

     <label for="porBodega">Por Bodega</label><input name="TipoReporte" id="porBodega" type="radio">
     <label for="porProducto">Por Producto</label><input name="TipoReporte" id="porProducto" type="radio">
     <label for="inicio">Fecha Inicio</label><input id="inicio" type="text">
     <label for="fin">Fecha Final</label><input id="fin" type="text">
     <label for="bodega">Bodega</label><select id="bodega">
        {% for bodega in bodegas %}
            <option value={{ bodega.codigoBodega }}>{{ bodega.nombreBodega }}</option>
        {% endfor %}
     </select>
     <label for="productoMovimiento">Producto</label><select id="productoMovimiento">
        {% for producto in productos %}
            <option value={{ producto.codigoProducto }}>{{ producto.nombreProducto }}-{{ producto.grupo.nombreGrupo }}</option>
        {% endfor %}
     </select>

     <a  onclick="consultaMovimientos()" href="#"><input type="button" value="Consultar" class="btn btn-success"></a>
     <a  onclick="ImprimirMovimientos()" href="#"><input type="button" value="Imprimir" class="btn btn-primary" ></a>
        <br/>
        <br/>
        <br/>
   </div>

    <table id="tablaReporteMovimientos" class="table-striped">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
        </thead>
    </table>
        <br/><br/>


    <div id="recibo">
        <table id="encabezado">
            <tr><th>PORKILANDIA S.A.S.</th></tr>
            <tr><th>Nit: 900606687-6</th></tr>
            <tr><th>Regimen Comun</th></tr>
            <tr><th style="font-size: 1.1em">__________________________________</th></tr>
                <tr><th>REPORTE DE MOVIMIENTOS DE PRODUCTOS</th></tr>
            <tr><th style="font-size: 1.1em">__________________________________</th></tr>
            <tr><th id="fechaMov" style="text-align: left">Fecha</th></tr>
            <tr><th id="bodegaMov" style="text-align: left">Bodega</th></tr>
            <tr><th style="font-size: 1.1em">__________________________________</th></tr>


        </table>
     <br/>
        <table id="tablaMovi" class="table-striped">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Producto</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
        </thead>
    </table>
        <br/><br/>

    <br/>
        <table id="pieRecibo">

                <tr>
                    <th>__________________________________</th>
                </tr>
                <tr>
                    <th>Encargado</th>
                </tr>

                <tr>
                    <th style="font-size: 0.8em">Generado en PORKISOFT V.1.0</th>
                </tr>

            </table>
    </div>

{% endblock contenido %}