{% extends 'base.html' %}

{% block titulo %}Reporte Bodegas{% endblock titulo %}
{% block mensajes %}
    Reporte Bodegas
{% endblock mensajes %}
{% block contenido %}
<div id="rangoFaltantes">
   <label for="bodegaFaltantes">Bodega</label><select id="bodegaFaltantes">
        {% for bod in bodegas %}
            <option value={{ bod.codigoBodega }}>{{ bod.nombreBodega }}</option>
        {% endfor %}
    </select>

    {% if usuario.username == 'carmenescobar' %}
        <a onclick="ReporteFaltantes()" href="#"><input type="button" value="Consultar" class="btn btn-success"></a>
    {% else %}
        <a  onclick="ReporteFaltantes()" href="#"><input type="button" value="Consultar" class="btn btn-success"></a>
        <a  onclick="conciliarFaltantes()" href="#"><input type="button" value="Conciliar Inventario" class="btn btn-success"></a>
        <a id="ExpExcelFaltantes" href="#"><input type="button" value="Excel" class="btn btn-primary"></a>
        <a onclick="imprimir()" href="#"><input type="button" value="Imprimir" class="btn btn-warning"></a>
        <a onclick="deshidratacion()" href="#"><input type="button" value="Deshidratacion" class="btn btn-danger"></a>
    {% endif %}


   </div>
    <div id="convensiones">
        <ul>
            <li style="color: orange">Exceso</li>
            <li style="color: red">Defecto</li>
            <li style="color: green">En el rango</li>
        </ul>
    </div>
<div id="areaImpresion">
    <br/><br/>
    <table id="encabezado">
        <tr>
            <th style="font-size: 1.5em">PORKILANDIA</th>
            <th>REPORTE DE INVENTARIO</th>
        </tr>
        <tr>
            <th style="font-size: 1.5em">SAS</th>
            <th>{{ hoy|date }}</th>
        </tr>
    </table>
    <br/><br/>
    <table id="tablaReporteFaltante" class="table-striped">
            <thead>
            <tr>
                <th>Codigo</th>

                <th>Producto</th>
                <th >Bodega</th>
                <th>Peso</th>
                <th>Unidades</th>
                <th >Fisico</th>
                <th>Faltante</th>
                <th>Ajustar</th>
            </tr>
            </thead>
            <tr>
                <th>Responsable </th>
                <th >Reviso</th>
                <th>Aprobo</th>

            </tr>
            <tr>
                <td > </td>
                <td ></td>
                <td></td>
            </tr>

        </table>
    <br/><br/>
<table id="pie">
        <tr>
            <th>Revisó</th>
            <th>Encargado</th>
        </tr>

        <tr>
            <th>______________________________</th>
            <th>______________________________</th>
        </tr>
    </table>

</div>


{% endblock contenido %}