{% extends 'base.html' %}

{% block titulo %}Reporte Compras{% endblock titulo %}
{% block mensajes %}
    Reporte Compras
{% endblock mensajes %}
{% block contenido %}
<div id="rangoCompras">
     <label for="inicio">Fecha Inicio</label><input id="inicio" type="text">
     <label for="fin">Fecha Final</label><input id="fin" type="text">
     <label for="productoMovimiento">Producto</label><select id="productoMovimiento">
        {% for producto in productos %}
            <option value={{ producto.codigoProducto }}>{{ producto.nombreProducto }}-{{ producto.grupo.nombreGrupo }}</option>
        {% endfor %}
     </select>

     <a  onclick="consultaMovimientos()" href="#"><input type="button" value="Consultar"></a>
        <br/>
        <br/>
        <br/>
   </div>
    <table id="tablaReporteMovimientos" class="table-striped">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
        </thead>
    </table>


{% endblock contenido %}