{% extends 'base.html' %}

{% block titulo %}Empleados{% endblock titulo %}
{% block mensajes %}
    Listado de Empleados
{% endblock %}
{% block contenido %}
<a id="nuevo" href="#"><input type="button" value="Nuevo" class="btn btn-primary"></a>
    <br/><br/><br/>
    <table id="tablaempleado" class="table-striped" >

        <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Aplellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th>Usuario</th>
            <th>Punto</th>
            <th>Acciones</th>

        </tr>
        </thead>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.codigoEmpleado }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.direccion }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.cargo }}</td>
            <td>{{ empleado.usuario }}</td>
            <td>{{ empleado.punto }}</td>




            <td>
                <a href="{% url 'Nomina.views.EditaEmpleados' empleado.codigoEmpleado %}">Modificar</a>
            </td>

        </tr>
            {% empty %}
            <tr>
                <td colspan="12">
                   Ningun producto para mostrar
                </td>
            </tr>

        {% endfor %}
    </table>
    <form method="post" class="form-actions">{% csrf_token %}
         <fieldset >
             <legend>Empleado<a id="cerrar" href="#"><img src="{{ STATIC_URL }}img/cerrar.png"/></a></legend>
              <div>
                  {{ formulario }}
              </div>
              <br/>
          <legend>Acciones</legend>
          <input value="Guardar" class="btn btn-primary" type="submit">
         </fieldset>
     </form>
{% endblock contenido %}